[2015-11-02 16:37] dsgre opened #30 "Online_Support ))1 866 362 8280((Netgear router technical support phone number 1.866.362.8280 Netgear router customer support phone number"
Online_Support ))) 1 866-362-8280(((Netgear router technical support phone number 1.866.362.8280 Netgear router customer support phone number 1.866.362.8280 Netgear router technical support phone number 1.866.362.8280 Netgear router Netgear router technical support phone number 1.866.362.8280 Netgear router technical support phone number usa 1.866.362.8280 Netgear router help desk phone number 1.8

[2015-11-19 16:28] ArbitraryHubris opened #103 "no staging branch to make pull requests against"
Is it ok to to request a pull against master on the wiki repo?

[2015-11-19 16:34] SaintPeter commented on #103
Yes.  Just make requests against `master`.

[2015-11-19 16:34] #103 closed

[2015-12-06 19:38] ltegman opened #143 "Bonfire Exact Change Solution Bug"
The current solution does not pass a newly added test case for when there is "enough" change in the drawer but the change is too large a denomination to make exact change.

[2015-12-07 03:06] #143 closed

[2015-12-18 22:00] mhelmetag opened #164 "FreeCodeCamp Santa Barbara Campsite listed as in Honduras"
There probably is a Santa Barbara in Honduras but... there's also a Santa Barbara, CA... I think most of the people in the current Facebook group are associating the group with the campsite in Santa Barbara, CA. I can make another facebook group one in CA or we could just update the list of campsites.

Thoughts on how to proceed?

(Trying to integrate FreeCodeCamp gatherings into a current Learn t

[2015-12-21 00:19] #164 closed

[2015-12-22 08:14] QuincyLarson opened #176 "Massive update to City Campsites"
I did a comprehensive audit of all the Campsites I am a member of, and discovered that there were many that had not yet been added to our list. This list also includes campsites created in the last 10 days.

I am seeking an intrepid camper who can tackle the task of:

1) figuring out which country each of these campsites is in
2) ensuring that it isn't a redundant listing - if it is, check and see

[2015-12-22 08:25] amrme commented on #176
Can anyone help with that?

[2015-12-22 08:44] zero1hac commented on #176
I am ready to help :smile:

[2015-12-22 09:27] amrme commented on #176
Free Code Camp Burlington, VT https://www.facebook.com/groups/1080815058603708/
Free Code Camp Medellín, Colombia https://www.facebook.com/groups/1646464308944919/
This is a list of all the valid campsites in the list you provided, I still need to write the valid city, country then remove the duplicates in that list, then compare that to the available campsites and remove the duplicates!

Lucknow,

[2015-12-22 09:37] cbressijr commented on #176
Free Code Camp Wilkes-Barre https://www.facebook.com/groups/free.code.camp.wilkesbarre/ As I am the one who started this I can contribute that this is for Wilkes-Barre, PA in the United States I know it is only one but I wanted to help where I can.

[2015-12-22 10:06] andreferreira-me commented on #176
Free Code Camp Curitiba https://www.facebook.com/groups/free.code.camp.curitiba/

[2015-12-22 10:09] hallaathrad commented on #176
Wow, went to sleep for a couple of hours and look at how much fun you've had without me.
Let's see if I can help a little. (I'll be editing this as I add the rest).

Free Code Camp - West Palm Beach, FL https://www.facebook.com/groups/free.code.camp.wpb/
Free Code Camp - Worcester, MA https://www.facebook.com/groups/free.code.camp.worcester/
Free Code Camp - Fayetteville, NC https://www.facebook.c

[2015-12-22 10:13] amrme commented on #176
Great @hallaathrad I'm almost done with the city, country validation of the posted list!

[2015-12-22 10:15] hallaathrad commented on #176
Oh, @amrme good. Should I stop doing what I'm doing then?

[2015-12-22 10:16] amrme commented on #176
@hallaathrad  In 10 minutes I'll post the validated list, then I guess we can eliminate the duplicates together

[2015-12-22 10:18] hallaathrad commented on #176
@amrme alright. stopping my list.
Let me know how I can be useful.

[2015-12-22 10:19] amrme commented on #176
Ok, I'll mention you @hallaathrad

[2015-12-22 10:22] hallaathrad commented on #176
Just realised. The list is missing the one I run. hahaha
Free Code Camp - Toronto, ON https://www.facebook.com/groups/free.code.camp.to/

[2015-12-22 10:22] amrme commented on #176
Ok, I'll add it ;)

[2015-12-22 10:39] amrme commented on #176
Updated list with valid city, country (or US State). We still need to remove the duplicates from this list, then remove the duplicates from the other campsites.

Free Code Camp Burlington, VT https://www.facebook.com/groups/1080815058603708/
Free Code Camp Medellín, Colombia https://www.facebook.com/groups/1646464308944919/
Lucknow, India https://www.facebook.com/groups/1647602228815736/
Code Camp

[2015-12-22 10:40] amrme commented on #176
@hallaathrad Can you help me with removing the duplicates, please? :smile:

[2015-12-22 10:44] hallaathrad commented on #176
Let's give it a try ;) BRB

[2015-12-22 10:49] amrme commented on #176
@hallaathrad  why don't we follow some pattern? I guess we can split it into half then if anyone want's to help he could join either of us and split the half into half in a binary fashion, the when we remove the duplicates from each half one of us validates that there are no duplicates in both halfs

[2015-12-22 10:50] amrme commented on #176
@hallaathrad  Validate these

Free Code Camp Burlington, VT https://www.facebook.com/groups/1080815058603708/
Free Code Camp Medellín, Colombia https://www.facebook.com/groups/1646464308944919/
Lucknow, India https://www.facebook.com/groups/1647602228815736/
Code Camp livre Lucas do Rio Verde, Brazil https://www.facebook.com/groups/1683221241966841/
Columbia, Maryland https://www.facebook.com/grou

[2015-12-22 10:50] amrme commented on #176
And I'll validate these

Free Code Camp Mandeville, Louisiana https://www.facebook.com/groups/free.code.camp.mandeville/
Free Code Camp Maputo, Mozambique https://www.facebook.com/groups/free.code.camp.maputo/
Free Code Camp Maricopa, Arizona https://www.facebook.com/groups/free.code.camp.maricopa.arizona/
Free Code Camp Maryville, Missouri https://www.facebook.com/groups/free.code.camp.maryville.

[2015-12-22 10:50] hallaathrad commented on #176
Perfect. Shall do

[2015-12-22 10:51] amrme commented on #176
And if anyone wants to help he can join either of us!

[2015-12-22 10:51] amrme commented on #176
great!

[2015-12-22 10:54] hallaathrad commented on #176
Maybe an idea: I've been organising the list by country rather than by city, so that all the campsites in a same country will be easier to find. All those in the States or Canada, since we're not adding country name to them, I've kept on top.

[2015-12-22 10:55] amrme commented on #176
Ok, Great! Please post the new list, I'll wait for it then we can split it together

[2015-12-22 10:56] hallaathrad commented on #176
no need, I'm working on the division you made, I'll merge them later

[2015-12-22 10:57] amrme commented on #176
Ok, then I'll continue :smile:

[2015-12-22 11:01] hallaathrad commented on #176
I'm also wondering if we need to list them as free code camp at all ... shouldn't we simplify it to city, country/state and then link?

[2015-12-22 11:03] Findegil commented on #176
Free Code Camp Sofia, Bulgaria - https://www.facebook.com/groups/free.code.camp.sofia/

[2015-12-22 11:03] amrme commented on #176
Yes I guess we should do that simplification @hallaathrad I'll apply it to my half

[2015-12-22 11:04] hallaathrad commented on #176
thanks @findegil. I've added you

[2015-12-22 11:06] amrme commented on #176
Simplified, but with duplicates

 Mandeville, Louisiana https://www.facebook.com/groups/free.code.camp.mandeville/
 Maputo, Mozambique https://www.facebook.com/groups/free.code.camp.maputo/
 Maricopa, Arizona https://www.facebook.com/groups/free.code.camp.maricopa.arizona/
 Maryville, Missouri https://www.facebook.com/groups/free.code.camp.maryville.missouri/
 Mashhad, Iran https://www.facebook.co

[2015-12-22 11:33] amrme commented on #176
Non-repeated campsites in my half of the list

 Mandeville, Louisiana https://www.facebook.com/groups/free.code.camp.mandeville/
 Maputo, Mozambique https://www.facebook.com/groups/free.code.camp.maputo/
 Maricopa, Arizona https://www.facebook.com/groups/free.code.camp.maricopa.arizona/
 Maryville, Missouri https://www.facebook.com/groups/free.code.camp.maryville.missouri/
 Mashhad, Iran https://w

[2015-12-22 11:34] hallaathrad commented on #176
Merging

[2015-12-22 11:35] amrme commented on #176
@hallaathrad Great, I guess you can just make sure that they are sorted, so that we'll be sure that there are no common duplicates in both halfs

[2015-12-22 11:36] hallaathrad commented on #176
I'm on it ;)

[2015-12-22 11:40] amrme commented on #176
Great! :+1:

[2015-12-22 12:06] amrme commented on #176
@hallaathrad Is this the final list?

[2015-12-22 12:06] amrme commented on #176
Can I help with anything?

[2015-12-22 12:07] hallaathrad commented on #176
Almost done, just want to check for some other groups I though I'd seen in Canada.

[2015-12-22 12:08] amrme commented on #176
Great! Thanks for that :smile_cat:

[2015-12-22 12:21] Shauky commented on #176
Wow, you guys are fast. I can confirm that there are no duplicates in the last list. Though a majority of these haven't had any updates to their pages in months.

[2015-12-22 12:23] hallaathrad commented on #176
Done, with some additions here in Canada, the US, Israel, Malaysia, South Korea, Switzerland... still looking for more. Will edit this post as I find new ones.

Maricopa, Arizona https://www.facebook.com/groups/free.code.camp.maricopa.arizona/
Vancouver, British Columbia https://www.facebook.com/groups/free.code.camp.vancouver.bc.canada/
Folsom, California https://www.facebook.com/groups/free.code

[2015-12-22 12:24] hallaathrad commented on #176
@Shauky, The benefit of having this list, even if they're somewhat inactive, is that people will join those same ones and make them live, rather than creating further duplicates.

[2015-12-22 12:24] amrme commented on #176
Great! well done @hallaathrad :smile: :+1:

[2015-12-22 12:25] Shauky commented on #176
I'll go through the last list and confirm if any duplicates or new ones are out there. Great job @hallaathrad  @amrme

[2015-12-22 12:25] hallaathrad commented on #176
No need to check for duplicates there, I've already done so @Shauky. Thanks though :)

[2015-12-22 12:27] amrme commented on #176
Thanks @Shauky

[2015-12-22 12:28] amrme commented on #176
Thank you @hallaathrad It was really nice working with you!

[2015-12-22 12:29] hallaathrad commented on #176
Likewise, brother... I will stick around a few more minutes to see if I find any further additions, and head back to sleep (got into this at 4:30am ;) wife calling me back to bed haha)

[2015-12-22 12:35] amrme commented on #176
:smile: It's 2:35 PM EET now for me. You can go to bed and I'll add any new groups :+1:

[2015-12-22 12:35] amrme commented on #176
Good night :smile:

[2015-12-22 12:39] hallaathrad commented on #176
@QuincyLarson: @amrme and I have condensed it for you. I'll keep on adding them on the repo as I find them later

[2015-12-22 12:40] amrme commented on #176
Great :+1:

[2015-12-22 12:40] Shauky commented on #176
@Findegil Sofia is already on the list of cities

[2015-12-22 15:52] annhnova commented on #176
Missing FreeCodeCamp Pensacola, Florida, US - https://www.facebook.com/groups/free.code.camp.pensacola

[2015-12-22 16:11] hallaathrad commented on #176
This list has only the campsites not already present in the wiki. Yours is
already a proud part of it :)
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/List-of-Free-Code-Camp-city-based-Campsites

On Tuesday, 22 December 2015, Ann Novakowski <notifications@github.com>
wrote:

[2015-12-22 18:12] KillerDesigner commented on #176
Missing FreeCodeCamp Santa Clarita, California, US

[2015-12-22 18:27] hallaathrad commented on #176
Santa Clarita also seems to already be in the wiki's list. This list you
see us we've been working on includes only the newest additions.

We need help finding any we may have missed here:
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/List-of-Free-Code-Camp-city-based-Campsites

I tried looking for more, but @quincylarson was pretty thorough... If you
have him in your group, there's a fair cha

[2015-12-27 17:38] ltegman opened #190 "Merge Conflicts Remnants in Campsite List"
In the list of campsites in China there are merge conflict markers. This was originally bugged on the FCC repo in issue https://github.com/FreeCodeCamp/FreeCodeCamp/issues/5472

[2015-12-27 19:58] hallaathrad commented on #190
Master is fine. The issue seems to be in the actual gh_pages, sometime after bundle.js (which also seems to be clean) gets rendered into the page. Ideas, @Rafase282?

[2015-12-31 19:31] Rafase282 opened #208 "Update Start Here page"
https://github.com/FreeCodeCamp/wiki/blob/master/Start-Here.md

The page needs to reflect the new curriculum for said section.

[2015-12-31 19:34] Rafase282 opened #209 "Update Page about what campers will learn"
https://github.com/FreeCodeCamp/wiki/blob/master/What-you-will-learn%2C-and-in-what-sequence-you-will-learn-it.md

Remove Angular references and add D3 and any new technology.

[2015-12-31 20:52] Rafase282 opened #210 "Need Heroku deployment tutorial"
I as many others had trouble trying to get out first basejump deployed properly on heroku. I know there has been talk about this but to make it official I decided to open an issue asking to this page to be created.

[2016-01-01 14:54] evaristoc commented on #176
Happy NewYear, people...
Involved. I am commenting this also at the DataScience Room to see if anyone can help.

[2016-01-03 17:13] hallaathrad commented on #190
This is being corrected as per #223

[2016-01-03 17:15] hallaathrad commented on #176
Ready to be closed, maybe?

[2016-01-03 18:04] ltegman commented on #190
Awesome, thanks!

[2016-01-03 18:04] #190 closed

[2016-01-05 21:46] #208 closed

[2016-01-05 21:46] #209 closed

[2016-01-07 19:20] Oxyrus commented on #210
@Rafase282 I could create it, however is it really necessary? I mean, with a quick search on Google you can find even a tutorial created by the team at Heroku itself https://devcenter.heroku.com/articles/getting-started-with-nodejs

[2016-01-07 19:25] SaintPeter commented on #210
I think there are a few key elements that I would add:
1. Note that if you're doing an express listen server, you should use:
`var port = process.env.PORT || <default port>`
2. Your `package.json` MUST include a `start` script and a typical default would be:
`"start": "node index.js"`
3. How to create an app with a name of your choosing

I had to do a fair amount of googling to get these because t

[2016-01-07 19:26] Rafase282 commented on #210
I had issues before but then with that guided and some poking around I was able to figure out and now I have no issues using it. I do use the github integration instead. I also figured out how to use the environment variables and the mongolab setting. A guide could help campers not having to dig around but after realizing the level of difficulty I'm not particularly inclined fo or against. I do re

[2016-01-07 19:28] Oxyrus commented on #210
I'll take a look into it later, will comment here when I'm done.

[2016-01-07 20:31] hallaathrad commented on #176
It's fair to say this case is closed now.

[2016-01-07 20:31] #176 closed

[2016-01-10 01:56] eferdman commented on #210
Hey there, just deployed my first basejump to heroku and it was very simple after all. I went through the heroku tutorial for node that @oxyrus posted but I didn't even end up using it. might come in handy later though so who knows. Instead here's what I did:

Heroku Deployment (Easy Way)

1. Create a Heroku account, verify the account. (duh)
2. After making an account, you can go to your dashboar

[2016-01-10 01:58] SaintPeter commented on #210
I think the above text, with appropriate illustrations, would be an awesome Wiki article.

[2016-01-10 02:01] hallaathrad commented on #210
Frivolous as that may be, sometimes I think it'd be fit for github to have a "like" button or equivalent.

[2016-01-10 02:07] eferdman commented on #210
thanks, now i just have to figure out how to contribute to the wiki. and how to make new lines in markdown.

[2016-01-10 02:08] hallaathrad commented on #210
Fork the wiki, work on your fork, commit and push to it, then from there, make a Pull Request.

[2016-01-10 02:17] SaintPeter commented on #210
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/How-To-Contribute-To-The-Wiki

[2016-01-10 02:18] eferdman commented on #210
ok doing that now. this may take a little while since this will be my first actual contribution and i need to fix the markdown. :)

[2016-01-10 03:12] SaintPeter commented on #210
FYI, when you make images, put them into a folder called
`/images/article-name/imagename.png`
So if your article was "deploying-to-heroku" it would be:
`images/deploying-to-heroku/imagename.png`

[2016-01-10 04:11] eferdman commented on #210
thanks @SaintPeter but I haven't done any pics so far. Do you recommend taking screenshots and hosting those online or uploading from the file system? I haven't done too much with that. I'm also weary of copyright infringement so I have really stayed away from using any pix offline. I need to improve in that area. I also keep having issues with Markdown. Darn new lines are not happening. And why i

[2016-01-11 02:43] SaintPeter opened #255 "`testingjson` Article has no content"
Not sure what is up with this, probably needs to be deleted?
https://github.com/FreeCodeCamp/wiki/blob/master/testingjson.md

[2016-01-13 03:15] alistermada commented on #255
Another similarly empty page:
https://github.com/FreeCodeCamp/wiki/blob/master/Test-Me.md

[2016-01-13 04:07] Rafase282 commented on #255
I think @dcsan and @abhisekp are testing somethign with those pages? Not sure.

[2016-01-13 05:02] abhisekp commented on #255
@Rafase282 Those were testing pages for testing how wiki contents show up in chat and how the page shows after trimmed. They're not needed now or can be re-created in personal repo for testing purposes. I think they maybe deleted without any issues.

[2016-01-13 16:36] Rafase282 commented on #255
I'm handling this.

[2016-01-13 16:37] #255 closed

[2016-01-16 19:51] Rafase282 commented on #210
@eferdman the link is not working anymore. As for images just take a screenshot, that should be fine as far as I know. It has been done before. If you follow @SaintPeter then you will upload them as part of the commit from your file-system.

As for the numbers changing I have no idea as I don't know what you are doing.

[2016-01-16 20:47] SaintPeter commented on #210
@Rafase282 https://github.com/FreeCodeCamp/wiki/blob/master/Heroku-Deployment-Guide.md

It's been live for a while now.

[2016-01-16 20:54] Rafase282 commented on #210
Then why is this still open? I have to admit I didn't notice when the page was merged.

[2016-01-16 20:55] #210 closed

[2016-01-16 20:55] SaintPeter commented on #210
There . . . closed. ;)

[2016-01-16 20:56] Rafase282 commented on #210
lol I just wanted to know if something else was needed as I saw no update on this for a while but good.

[2016-01-20 10:39] pcexpert-365 opened #284 "Spam"
Spam

[2016-01-20 10:40] #284 closed

[2016-01-24 00:56] BerkeleyTrue opened #288 "[Gatsby] Add main.css on gatsby"
Add a link tag that points to Free Code Camp's css

[2016-01-24 00:57] BerkeleyTrue opened #289 "[Gatbsy] Fix navbars links"
Navbar links should point campers back to FCC

[2016-01-24 01:05] BerkeleyTrue opened #290 "[Gatsby] Add language folder structure"
The folder structure should the following
[code]

[2016-01-24 01:07] BerkeleyTrue opened #291 "[Gatsby] Add documentation on new contribution flow"

[2016-01-24 01:08] BerkeleyTrue opened #292 "[Gatsby] Take down live Wiki"

[2016-01-24 16:32] hallaathrad opened #296 "Update solutions for "Friendly Date Ranges""
The [solution in the wiki](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Bonfire-Friendly-Date-Ranges) doesn't solve the challenge.

This issue addresses FCC's #[6410](https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6410) (Already closed).

[2016-01-24 17:44] Rafase282 commented on #296
Was the challenge updated recently? I tried it again and there are two test that do not pass now.

[2016-01-25 03:20] SaintPeter commented on #296
Yes, it was revamped recently.

[2016-01-25 03:22] Rafase282 commented on #296
Then I guess I'll have to update my code.

[2016-01-28 18:12] SaintPeter opened #303 "Update Translation Page"
The current translation page:
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/What-to-do-if-you-speak-a-language-that-Free-Code-Camp-does-not-yet-support

points to the Trello board which is no longer used.

Here is a description of the new process:
https://trello.com/c/a5LsOa7B/163-we-are-moving-our-translation-effort-from-trello-to-github-issues-for-each-language-we-need-to-audit-which-challen

[2016-01-28 20:21] hallaathrad opened #304 "List of seemingly inactive campsites."
Removing them from this list as I see response from them.

- Afghanistan
  - [Kabul](https://www.facebook.com/groups/free.code.camp.kabul/)
- Albania
  - [Tirana](https://www.facebook.com/groups/free.code.camp.tirana/)
- Algeria
  - [Algiers](https://www.facebook.com/groups/free.code.camp.Algiers/)
  - [Mansoura](https://www.facebook.com/groups/free.code.camp.mansoura/)
  - [Oran](https://www.face

[2016-01-28 21:50] SaintPeter commented on #304
Humm, how do I respond to you?  I run the Sacramento site and have not seen a request.

[2016-01-28 22:07] hallaathrad commented on #304
hahaha so it turns out FB in their infinite wisdom have blocked my account after requesting to join all the campsites up to Bolivia. Until February 11 :ok_hand: so, to be continued

[2016-01-29 03:15] vtamara commented on #303
Working on it

[2016-01-29 04:11] #303 closed

[2016-01-30 22:57] #296 closed

[2016-02-13 03:01] ltegman opened #343 "Lint According to FCC ESlint config"
Since changes here get pulled into the camperbot submodule I noticed quite a few linting errors in the scripts.

[2016-02-13 14:03] samosale opened #344 "Need a JSON or CSV file for List of FCC cities"
https://github.com/FreeCodeCamp/freecodecamp/wiki/List-of-Free-Code-Camp-city-based-Campsites

If you go to that page you will find the list of all cities. I need that data in csv or json. If you go to google maps you will see that it is using my.csv to generate the chart. It would be perfect if I had that filewith or without coordinates. tnx

[2016-02-14 14:27] hallaathrad commented on #343
How do we see those so we can clean up?

[2016-02-14 16:36] SaintPeter commented on #343
Why do we care if Wiki articles have ESlint errors?

[2016-02-14 16:37] hallaathrad commented on #343
because they may cause glitches in bot behaviour, I'm guessing?

[2016-02-14 17:29] ltegman commented on #343
@SaintPeter: It's not the articles that have lint errors, it's the JavaScript files in the `scripts/`folder.

There's quite a few approaches you could take, but the simplest would be to copy the .eslintrc from FCC into the scripts folder, add eslint as a dev dependency, and add a script into your `package.json` of "lint": "eslint ./*.js"

[2016-02-17 04:07] bugron opened #352 "Wiki request - rewrite and simplify explanation of Currying"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3409

https://leanpub.com/javascript-allonge/read#pabc

[2016-02-17 04:08] bugron opened #353 "Wiki request - rewrite and simplify explanation of Permutations"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3411

https://www.mathsisfun.com/combinatorics/combinations-permutations.html

[2016-02-17 04:10] bugron opened #354 "Wiki request - rewrite and simplify explanation of HTML Entities"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3412

http://dev.w3.org/html5/html-author/charref

[2016-02-17 04:11] bugron opened #355 "Wiki request - rewrite and simplify explanation of Symmetric Difference"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3413

https://www.youtube.com/watch?v=PxffSUQRkG4

[2016-02-17 04:12] bugron opened #356 "Wiki request - rewrite and simplify explanation of Roman Numerals"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3414

http://www.mathsisfun.com/roman-numerals.html

[2016-02-17 04:14] bugron opened #357 "Wiki request - rewrite and simplify explanation of Global Array Object"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3415

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array

[2016-02-17 04:15] bugron opened #358 "Wiki request - rewrite and simplify explanation of Global Object"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3416

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object

[2016-02-17 04:16] bugron opened #359 "Wiki request - rewrite and simplify explanation of Global String Object"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3417

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String

[2016-02-17 04:17] bugron opened #360 "Wiki request - rewrite and simplify explanation of RegExp"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3419

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp

[2016-02-17 04:18] bugron opened #361 "Wiki request - rewrite and simplify explanation of Global Function Object"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3420

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function

[2016-02-17 04:18] bugron opened #362 "rewrite and simplify explanation of Comparison Operators"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3466

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Comparison_Operators

[2016-02-17 04:19] bugron opened #363 "rewrite and simplify explanation of Details of the Object Model"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/3467

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Details_of_the_Object_Model

[2016-02-17 04:21] bugron opened #364 "Internal Wiki Refactoring"
Original issue: https://github.com/FreeCodeCamp/FreeCodeCamp/issues/6952

There are several issues with the current Wiki:

- [x] It is not possible to link to a specific page in the Wiki
- [ ] On the full-page version the address bar/url does not change when changing pages.
- [x] Images are not properly moved over.
- [x] Some internal links are not converted correctly

The current framework works

[2016-02-17 22:20] Rafase282 opened #367 "New Content for the Wiki"
List is a work in progress.
Based off the most popular StackOverflow anwsers and my own choices so far.

# Git Related
- [ ] [Undo a commit and redo](http://stackoverflow.com/questions/927358/how-do-you-undo-the-last-commit/927386#927386)
- [ ] [Amending the most recent commit message](http://stackoverflow.com/questions/179123/edit-an-incorrect-commit-message-in-git/179147#179147)

# Backend Relat

[2016-02-18 04:24] QuincyLarson commented on #367
@Rafase282 This is an excellent start. These are the sorts of things I myself have looked up a number of times, so it would be great to be able to read them in a wiki format (rather than a stack overflow format, which is less user-friendly)

[2016-02-18 21:17] otmeek opened #370 "Wiki solution Algorithm Symmetric Difference incomplete"
The wiki solution for algorithm symmetric difference is incomplete and doesn't pass all tests on its own.

Adding a loop that removes duplicate entries passes the tests. Like:

[code]

Another user in the Javascript Help room noticed this as well. Please fix it!

[2016-02-20 03:54] hallaathrad commented on #367
Can I request we document how to setup a front-end dev environment?
How to set up PostCSS to concatenate JS, nest and prefix css etc; eslint, jshint, uglify, live reload, all these in a build system like gulp+bower.

It's been bugging me not really being able to find something decent like that, specifically thought for those who stick to the front.

[2016-02-20 04:09] Rafase282 commented on #367
@hallaathrad yes, just add it there.

[2016-02-23 07:15] anuragaryan commented on #370
Can you please ignore the first two commit message, I messed up a little.
https://github.com/anuragaryan/wiki/commit/10d0e788a00641786de1ba4e5ad64c11ff2c4a28 is the commit to be pulled.

[2016-02-23 12:53] #370 closed

[2016-02-24 09:00] anuragaryan commented on #354
I'm not sure what do you want with these wiki requests, you want the solution of HTML Entities rewritten and explained or the questions?

[2016-02-25 21:15] raisedadead commented on #367
#379 up for
- [x]  Undo a commit and redo
- [x]  Delete a Git branch both locally and remotely
- [x]  Checkout Remote Branch
- [x]  Force Git to overwrite local files on pull

[2016-02-25 21:38] #352 closed

[2016-02-28 16:35] aj07 opened #411 "Clone-a-single-branch"
Please add it to master branch

[2016-02-28 17:08] Rafase282 commented on #411
It has been added.

[2016-02-28 22:40] #411 closed

[2016-02-29 09:10] thefreezer commented on #356
I believe that http://www.mathsisfun.com/roman-numerals.html already provides a well-written and clear explanation on Roman Numerals. It will be harder to simplify it further.

[2016-02-29 14:44] raisedadead opened #432 "Create a PR template for new articles."
Need to create a PR template for new articles with quick "points to check" list.

[2016-02-29 15:15] Rafase282 commented on #367
Guys, to make it easier for all of us, if you sent a PR for any of the issues here, mark it here, the same if you are creating an article, let us know by marking it. The only thing is that if for whatever reason it is not merged and it is closed then it will need to be unchecked.

Also adding more articles from the list on the gist is needed and appreciated.

[2016-02-29 19:45] #432 closed

[2016-02-29 21:09] thomasvaeth commented on #367
I recently wrote a blog post on getting a basic front end dev environment set up. I can write something on the basics of Gulp today.

[2016-02-29 21:43] hallaathrad commented on #367
@thomasvaeth you'll become my hero for the 15 minutes after you post it! I've been trying to get away from needing CodeKit for the longest while.

[2016-02-29 21:46] Rafase282 commented on #367
I'll look forward tot hat too.

[2016-03-01 01:06] Rafase282 commented on #367
@hallaathrad the filename is Gulp-Basics.md

[2016-03-01 01:20] hallaathrad commented on #367
w0000t!

[2016-03-01 04:37] austincarnivore commented on #367
I can work on some those Frontend related post.  I will try and knockout _Horizontally Center Div_ tomorrow.

[2016-03-01 06:38] raisedadead commented on #354
@anuragaryan The links mentioned in the issue description are common resources for topics such as using HTML char codes in this case. We want explanatory articles on using them so that campers and anyone in general can find and use these easily.

If you need any assistance in writing or understanding please ping us in the [WikiChat room](https://gitter.im/FreeCodeCamp/Wiki), thanks.

[2016-03-01 06:41] raisedadead commented on #356
@thefreezer I agree. How ever it would be cool if we write something on the similar lines. Its easier for campers to find articles in the FCC wiki.

You may take the article as it is, **BUT, BUT, BUT ensure you give credits to the original author 100%** we do not want to plagiarize anything.

[2016-03-01 14:25] hallaathrad commented on #367
should we be updating these items to reflect their newly added link?

[2016-03-01 14:41] Rafase282 commented on #367
No, I prefer to have the original link for reference, no many list it as source, not everyone adds all the useful info either. Just checking them out is enough, maybe adding filename or link to the created article or PR as long as the original link remains.

[2016-03-01 15:12] crisbnk commented on #367
Hi, I'll start with "Capitalize the first letter of string in JavaScript".

[2016-03-02 03:45] awesomeaniruddh commented on #367
I believe an article on how scopes work in JavaScript could be useful. It won't be a long article, but it's essential to discuss scopes before we discuss the Global Object (https://github.com/FreeCodeCamp/wiki/issues/358). Could you add scopes to the checklist? An article already exists but it could be greatly improved.

[2016-03-02 04:05] Rafase282 commented on #367
@awesomeaniruddh added it and provided link to current article.

[2016-03-02 09:51] pageman commented on #304
The [Manila campsite](https://web.facebook.com/groups/free.code.camp.manila/) is active - the last post with a few comments was [yesterday](https://web.facebook.com/groups/free.code.camp.manila/permalink/1002102676504893/) (2/29/2016).

[2016-03-02 10:43] ibleedfilm commented on #304
Manila campsite is active. Community leaders are set to meet to discuss how to engage members. :)

[2016-03-02 12:21] hallaathrad commented on #304
hey @pageman @ibleedfilm :) I'm glad to hear that! as you can see, the list is a work in progress... I haven't reached your campsite yet, and that's why you're still on the pending list.

But rest assured you're not tagged as inactive! :) only the ones I specifically mention as such are the ones I may be deleting from the official list.

[2016-03-02 20:30] #362 closed

[2016-03-03 05:30] Shauky commented on #304
Maldives, Male is very much active. We have meetups every week and theres a ToT going on to get more people on board to teach through FCC. Please remove it from this list. Please let me know how I can contribute to Male better.

[2016-03-03 06:04] awesomeaniruddh commented on #358
I'd like to take this, but the issue title mentions the 'Global Object' while the MDN link is for the Object constructor. Can someone please clarify what is being referred to here?

Thanks!

[2016-03-03 09:20] alayek opened #491 "Python articles should be interlinked"
There are some basic articles on Python in the FCC Wiki. To make them more accessible and indexable, they should be interlinked back and forth. And the central stub for Python should link to those.

[2016-03-03 09:20] alayek commented on #491
I am working on a PR to close this.

[2016-03-03 12:33] #491 closed

[2016-03-04 02:04] jktravis commented on #367
Quick question. Are we to take the links and make them into articles, giving attribution to the source? So, basically a copy/paste of the links?

[2016-03-04 02:24] Rafase282 commented on #367
@jktravis yes and no. You could do a rewrite, explain it with your own words, or use a different source. We provide links so there is a source but you are not limited to its content alone.

[2016-03-05 06:12] alayek opened #509 "Wiki request - New Wiki article for Python is required"
We added a few articles on Python in the wiki. But we have to now complete the TODOs, add more extensive articles, and  break the wiki articles in smaller articles for easy referencing  by @camperbot.

We need to create wiki articles on how to use Django and Flask to plan and build web application.

[2016-03-05 06:13] alayek commented on #509
@Rafase282 @raisedadead do we need to craete new labels? Or can we label with existing ones?

[2016-03-05 06:17] alayek opened #510 "Wiki request - New Articles on Ruby and Rails are needed"
We need to add new articles on Ruby and RoR. To see how they might look like; it is better to follow the Python articles for now.

@Rafase282 @raisedadead you guys might want to label and assign people. Ping me or @koustuvsinha  in gitter, we would discuss assignees.

[2016-03-05 06:19] alayek opened #511 "Wiki request - New Articles on PHP and PHP frameworks are required"
We need to create articles on PHP and PHP Frameworks like Laravel, CakePHP etc. For now, we can follow the wiki structure of Python articles on the wiki.

@Rafase282 @raisedadead you might want to label this and assign this. Ping me or @koustuvsinha on gitter to discuss whom to assign it to.

[2016-03-05 06:25] alayek opened #512 "Wiki Request - New Articles on Go are required"
We need new articles on Go. For now, @stefanjarina is helping us out with preliminary articles and starting the development in Go.

@raisedadead @Rafase282 kindly label this and assign this properly.

[2016-03-05 14:44] Rafase282 commented on #511
@alayek if you have any suggestions in mind then add a list here so people can pick, similar to what I did with the wiki articles issue.

[2016-03-05 16:51] #358 closed

[2016-03-05 18:46] rishipuri commented on #509
There is a nice python list here: https://python.zeef.com/luis.solis

[2016-03-05 18:49] rishipuri commented on #509
Maybe we can divide https://learnxinyminutes.com/docs/python3/ in small wiki parts for reference purposes.

[2016-03-05 19:05] alayek commented on #509
Thanks @rishipuri for your suggestion. Yes, it is indeed great. We have also added list to such curated lists using [this](https://github.com/vinta/awesome-python) list.

But we are looking for our own internal content on Python, which can be referred  by our campers, and indexed for quick access by @camperbot

[2016-03-05 21:01] Munsterberg commented on #509
I've been doing a final project for uni in python/django and purchased TDD with Python, Two Scoops of Django (best practices) and a few other books. I also have a curated list of Django resources if you fellas need. I could contribute a few articles.

[2016-03-06 07:07] alayek commented on #509
@Munsterberg thanks for your interest. Please reach out to me or @koustuvsinha on [gitter](https://gitter.im) so that we can coordinate this.

[2016-03-07 04:02] varunu28 commented on #509
@alayek I went through the articles on Python. We need to create a centralized readme page where we list down all the articles and put links of all the articles there. Right now the next and home links rare not working correctly. I am interested in creating a centralized article where we have links to all the articles on Python. I will provide you with a sample soon

[2016-03-07 09:15] koustuvsinha commented on #509
@varunu28 do you mean [this](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Python) ? in the intro page we have listed all our articles in Python.

also, thank you for spotting the next and home links are not working. can you specify which page?

[2016-03-07 12:06] alayek commented on #509
@koustuvsinha @ranjanashish @Munsterberg please review the updated list. See if I have missed anything important when it comes to Web Development in Python.

[2016-03-07 12:09] koustuvsinha commented on #509
Looks awesome @alayek :)

For all who want to create an article based on the above list, comment here what you want to work on and refer your PR with this issue

[2016-03-07 12:12] raisedadead commented on #509
@alayek Sorry about the delay in responding, I guess current labels are good enough for general stuff, and we can always tag the PRs "Work Needed : Content Review" if you please for the content.

If you feel I can create and tag Language Specific labels if that would be helpful for reviewers?

[2016-03-07 12:15] koustuvsinha commented on #509
@raisedadead language specific labels would be nice to have. When people will start filing PR's with respect to articles it would be helpful to tag them

[2016-03-07 12:19] raisedadead commented on #509
@koustuvsinha Cool! Will do that right away!

[2016-03-07 12:34] koustuvsinha opened #534 "Wiki Request - New Articles on Java are required"
This is an epic issue to track the development of Java Wiki articles. The target is to have smaller articles on individual topics so that they can be easily referenced by @camperbot .

These are our requirements. Feel free to add comment on articles which are needed and I will update it here. If you want to work on a specific article, comment here and let others know. Also, refer this issue in sub

[2016-03-07 12:45] alayek commented on #509
Thanks @raisedadead !

[2016-03-07 15:38] QuincyLarson opened #535 "Update certification articles"
We need to update all of our old certification articles and create new ones for our Back End and Data Visualization certifications.

Here are the current articles:

https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Free-Code-Camp-Front-End-Development-Certificate
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Free-Code-Camp-Full-Stack-Development-Certificate

The new articles can follow the pat

[2016-03-07 18:30] alayek commented on #534
Great job @koustuvsinha !

[2016-03-07 18:58] QuincyLarson opened #538 "Update Map to include all projects"
Here's our current map, which is out of date: https://github.com/FreeCodeCamp/wiki/blob/master/Map.md

We need to:
- [x] make sure the map itself has the challenges in the current sequence
- [x] add placeholder copy for challenges for which we don't yet have wiki articles
- [ ] add links to placeholder copy where we have since created articles

[2016-03-07 19:26] QuincyLarson opened #539 "Create articles for Front End Projects"
Basic:
- [ ] [Build a Tribute Page](http://www.freecodecamp.com/challenges/build-a-tribute-page)
- [ ] [Build a Personal Portfolio Webpage](http://www.freecodecamp.com/challenges/build-a-personal-portfolio-webpage)

Intermediate:
- [ ] [Build a Random Quote Machine](http://www.freecodecamp.com/challenges/build-a-random-quote-machine)
- [ ] [Show the Local Weather](http://www.freecodecamp.com/chall

[2016-03-07 19:27] QuincyLarson opened #540 "Create articles for Data Visualization projects"
React, Sass, Redux:
- [ ] []()
- [ ] []()
- [ ] []()
- [ ] []()
- [ ] []()

- [ ] []()
- [ ] []()

[2016-03-07 19:31] QuincyLarson opened #541 "Create articles for Data Visualization projects"
React, Sass, Redux:
- [ ] [Build a Markdown Previewer](http://www.freecodecamp.com/challenges/build-a-markdown-previewer)
- [ ] [Build a Camper Leaderboard](http://www.freecodecamp.com/challenges/build-a-camper-leaderboard)
- [ ] [Build a Recipe Box](http://www.freecodecamp.com/challenges/build-a-recipe-box)
- [ ] [Build the Game of Life](http://www.freecodecamp.com/challenges/build-the-game-of-li

[2016-03-07 19:36] QuincyLarson opened #542 "Add Back End Projects to Map"
API projects:
- [ ] [Timestamp Microservice](http://www.freecodecamp.com/challenges/timestamp-microservice)
- [ ] [Request Header Parser Microservice](http://www.freecodecamp.com/challenges/request-header-parser-microservice)
- [ ] [URL Shortener Microservice](http://www.freecodecamp.com/challenges/url-shortener-microservice)
- [ ] [Image Search Abstraction Layer](http://www.freecodecamp.com/chall

[2016-03-07 19:37] QuincyLarson commented on #540
This is a duplicate issue.

[2016-03-07 19:38] #540 closed

[2016-03-07 23:40] Rafase282 commented on #542
@QuincyLarson this map you speak of is the one on FCC site or the one in the wiki? If it is the one for the wiki I didn't add them because we had no articles for them and I don't thinking creating them based on the Algorithm ones would be a good idea. Basically no providing answers or code for anything other than Algorithms.

[2016-03-08 00:23] Rafase282 commented on #353
Based on the link given, do a simplified rewrite article for FCC. This should make it more clear.

[2016-03-08 08:24] pedronfigueiredo commented on #542
I just finished Front End Development but I was thinking about going to Data Visualization first.
If we get too much behind schedule I can stop it and do BackEnd first.

[2016-03-08 13:46] erikjenks commented on #510
I would love to help out with this, I am a Rails dev, but have been using FreeCodeCamp to help me level-up my JS skills. I think I could help contribute back to the community through this.

[2016-03-08 13:55] koustuvsinha commented on #510
@erikjenks awesome! can you ping me in Gitter? we can discuss this further :)

[2016-03-08 14:40] varunu28 commented on #535
Hi Quincy
Can I help with this one. If yes, then where to do the changes?

[2016-03-08 17:01] raisedadead commented on #535
@varunu28 Yes sure! "Help Wanted" labels are open to all for contribution. Please go ahead. Remember to have a look at the [Contributing Guidelines](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/CONTRIBUTING) if this is your first time.

[2016-03-08 18:04] alayek commented on #542
This is what I have always wanted! Some sense of direction, hints etc. for the back-end projects.

[2016-03-09 02:33] varunu28 commented on #535
@raisedadead @QuincyLarson  I have updated certification details for Front end and full stack certification. I am working on creating new certificates for Backend and data visualization certificates.

[2016-03-09 22:58] fakemonk1 opened #558 "Links given in the Home.md are not working"
I am a new member here and was looking for the "Guides on how to Contribute" in Home.md (The
https://github.com/FreeCodeCamp/wiki/blob/master/Home.md), but the given links in the Home.md are not working/valid. I am not sure whether creating an issue for this is right, but I am creating this.

[2016-03-10 02:21] tehkaiyu commented on #558
Seems like the last commit on that file changed all the absolute links to relative ones(https://github.com/FreeCodeCamp/wiki/commit/d072d15416ffbe1970deaf8ac871ec30da30b8b1), which is causing the issue you're seeing.

I wonder if there's a way to change the base url of the links instead of having all absolute urls

[2016-03-10 03:04] ScrumUser1 commented on #534
I would like to contribute to the loop article for java. Can we talk more about this so i know how you would want it to be?

[2016-03-10 03:08] alayek commented on #534
@ScrumUser1 yes! We communicate via gitter. Kindly contact me or @koustuvsinha via hitter, and one of us would discuss with you how the article would be.

[2016-03-10 05:37] raisedadead commented on #558
Hi @fakemonk1 @tehkaiyu ,

Refering a comment from @Rafase282 on #494 this is an expected side-effect.

The live wiki can be accessed here:
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki

The "local" wiki is the Github repo for the actuall wiki.

[2016-03-10 13:13] alayek commented on #558
But this would still have issues with @camperbot fetching data. Refer to https://github.com/FreeCodeCamp/camperbot/issues/64

[2016-03-10 15:19] koustuvsinha commented on #534
@ScrumUser1 can you work on a different article as another user has already submitted a PR on loops in #560 ? If you need any help please feel free to contact me in [Gitter](https://gitter.im/koustuvsinha).

[2016-03-10 19:16] #535 closed

[2016-03-11 11:28] alayek commented on #511
@SaintPeter please review if we missed some topic in PHP, especially Laravel.

[2016-03-12 03:39] SaintPeter commented on #511
This looks solid - if anything, it may almost be too much detail.

By "Forks" do you mean "Conditional Statements" or "Branching"?  "Forks" is not really a thing.  I'd also put it before loops.

"Scopes" appears twice.

I would suggest that Laravel actually be handled completely separately because it's a pretty fundamentally different topic. There are lots of things to learn in Laravel that are on

[2016-03-12 06:25] raisedadead opened #565 "Improve Translations Guide."
The current version of the [Translations Guide](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Translations-Guide) is bit technical for someone getting started as noted in the chat.

Points to be addressed:
- [x]  "remove the numbers, since these are essentially separate articles - not sequential steps." as noted [here](https://gitter.im/FreeCodeCamp/Translators?at=56e3b1b36fde057c268613fb).
-

[2016-03-12 14:23] Rafase282 commented on #558
We need to change camperbot internal to work with relative links instead of opening new PR for changing some from relative to hard links. All links were changed to relative so if they will be changed back it is best to do them all together.

[2016-03-12 17:39] alayek commented on #511
@SaintPeter I have updated the above. If you want to include any more topic, especially in Laravel; kindly let me know.

Do we include HHVM?

[2016-03-12 19:45] raisedadead opened #568 "Update How to get the MEAN stack running locally on OSX"
Refering a [comment on chat](https://gitter.im/FreeCodeCamp/HelpContributors?at=56e409177fefcd2a398c9f48)

The article [How to get the MEAN stack running locally on OSX](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/How-to-get-the-MEAN-stack-running-locally-on-OSX) needs to be updated.

[2016-03-13 00:16] awesomeaniruddh commented on #568
I can work on this.

[2016-03-13 06:26] raisedadead commented on #568
@awesomeaniruddh Thanks please go ahead! I'll give ya brownies :wink:

[2016-03-13 18:13] SaintPeter commented on #511
I suggest you use [this book, "Code Bright"](http://daylerees.com/codebright/) as a good starting place for Laravel - this is for v4.2, but he's also released "Code Smart" for Laravel 5.x.  It's not free on the web yet.

That was the book I used to learn Larael and I think his order of introduction is decent.

As for HHVM, I barely know what it is, so I can't really comment on if you should introd

[2016-03-13 18:17] SaintPeter commented on #565
The transition from using `nameXX` to `titleXX` will affect all ongoing translations.  I don't know precisely when we're going to roll out the change.  @BerkeleyTrue will need to tell us that.

What I can do is provide a node script to automatically convert a single file (or all of the files).  Please let me know what you prefer.

[2016-03-14 12:11] raisedadead commented on #565
@SaintPeter Thanks a lot.

It would be great if you can come up with a script that can take individual files and update them with the change. (Considering there are some challenges that are partially translated, it would be easier to verify if at all longer). Thanking you again for making this extra effort :smile: !

Once the change `nameXX` to `titleXX` is actually merged.

I'll update the guide

[2016-03-14 16:41] SaintPeter commented on #565
I'm not sure when the actual transition is going to occur.  The script will simply ignore `titleXX` style, so it doesn't matter which you use.

[2016-03-15 10:41] Nalipp opened #576 "Ruby Strings"
## Ruby Strings

Strings are a list of characters held between single or double quotes.

```'I am a string' "I am also a string"```

Character values held in a string are often assigned to variables.

```intro = 'I am a string'```

This enables us to store, retrieve and manipulate the values held within a string.

```username = 'DreadRobert'```
```password = 'ilikerainbows'```
```greeting = 'Welco

[2016-03-15 10:43] Nalipp commented on #576
Here is an intro to strings in Ruby. Not sure if this is the best way to submit the material, or if there is a better way to introduce the topic. But it's a brief intro.

[2016-03-15 10:54] raisedadead commented on #576
@Nalipp Thanks for the write up. But we need this as a pull request. Please follow the [contributing guidelines here](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki#guides-on-how-to-contribute).

Secondly, you should have a look at #510 for currently needed articles and create content for them, including any which may not be on that list.

Should you need any assistance on contributing please v

[2016-03-15 10:54] #576 closed

[2016-03-15 11:18] awesomeaniruddh commented on #576
Someone has already created an introduction to Ruby: https://github.com/FreeCodeCamp/wiki/pull/575

I suggest you wait for that PR to get merged, and add this to the file created in that PR.

[2016-03-15 16:41] #558 closed

[2016-03-15 16:48] sludge256 opened #577 "Modify results list when searching for Java"
Currently, searches for "Java" related entries are buried under "JavaScript" entries.
Would it be a good idea to list "Java" entries at the top until the user appends an "s" to the search query?

[2016-03-15 18:09] #353 closed

[2016-03-15 18:35] raisedadead commented on #343
@ltegman @hallaathrad @SaintPeter

With the formatting of the articles having become so more important now than ever before (referring gatsby issues and the bot hyperlink issues etc) I guess this should be brought in asap.

I am testing out a Sublime plugin called [MarkdownEditing](https://github.com/SublimeText-Markdown/MarkdownEditing) which promises to have a nice [linting feature](https://gith

[2016-03-15 18:38] raisedadead commented on #343
Of course this has to be used in conjunction with the JavaScript linting similar to the main repo as being discussed here.

[2016-03-15 22:29] Nalipp commented on #576
Ok thank you. I will look at this again and get it done correctly.

[2016-03-16 20:58] raisedadead opened #588 "Missing Images from How-to-start-when-you-are-stuck-(II)"
[How-to-start-when-you-are-stuck-(II)](https://github.com/FreeCodeCamp/freecodecamp/wiki/How-to-start-when-you-are-stuck-(II)) has missing images as noted in FreeCodeCamp/FreeCodeCamp#6935

@biancamihai appears to be the original author.

/cc @tasha-a-coder @bugron

[2016-03-17 06:52] abhisekp opened #590 "Hell to Heaven using NodeJS Promise Chain"
**Reference:** https://coderwall.com/p/ijy61g/promise-chains-with-node-js

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/Wiki</b></a></kbd></p>

[2016-03-17 07:33] abhisekp opened #591 "Create Article: Hell to Heaven using Promise library"
<h3 align="center">Arise and awake from callback hell</h3>

Write an article related to **callback hell** and how the smart NodeJS developers use **asynchronous libraries** to their advantage leading to afterlife paradise. :innocent:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with

[2016-03-17 07:38] abhisekp opened #592 "Create Article: Hell to Heaven using async/await"
<h3 align="center">Arise and awake from callback hell</h3>

Write an article related to **callback hell** and how the smart JavaScript developers use JavaScript **`async/await`** to their advantage leading to afterlife paradise. :innocent:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat

[2016-03-17 07:40] abhisekp opened #593 "Create Article: Hell to Heaven using function* generator"
<h3 align="center">Arise and awake from callback hell</h3>

Write an article related to **callback hell** and how the smart JavaScript developers use **`function* generator`** to their advantage leading to afterlife paradise. :innocent:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat wi

[2016-03-17 07:49] abhisekp opened #594 "Create Article: Packing Bundling using Webpack"
<h3 align="center">Pack up and bundler JS</h3>

Write an article about JS bundling using **Webpack** when files are large and time is short. :watch:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com

[2016-03-17 07:50] abhisekp opened #595 "Create Article: Packing Bundling using Browserify"
<h3 align="center">Pack up and bundle JS</h3>

Write an article about JS bundling using **Browserify** when files are large and time is short. :watch:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.c

[2016-03-17 07:51] abhisekp opened #596 "Create Article: Packing Bundling using Rollup"
<h3 align="center">Pack up and bundle JS</h3>

Write an article about JS bundling using **Rollup** when files are large and time is short. :watch:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/T

[2016-03-17 08:37] abhisekp opened #597 "Create Article: Iteration Justified"
<h3 align="center">The War of Loops</h3>

Write an article describing the different use cases of various types of loops. :loop:
(*e.g. for/for..in/for..of/while/do..while*) and when to use what.

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/F

[2016-03-17 08:46] abhisekp opened #598 "Create Article: IDEs Editors Demystified"
<h3 align="center">Who Wins? Online vs Offline IDE</h3>

Write an article about online :airplane: IDEs and Editors, their advantages and disadvantages vs offline :rowboat: IDEs and Editors and their advantages and disadvantages.

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in

[2016-03-17 15:26] abhisekp opened #600 "Create Article: JS Paradigms Simplified"
<h3 align="center">Paradigms, Paradigms Everywhere. Which one to pick?</h3>

Write an article about JavaScript's **multi paradigm** feat. :performing_arts:

Explain each one and also provide examples.

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitte

[2016-03-17 15:38] abhisekp opened #601 "Create Article: Testing made Easy with Mocha"
<h3 align="center">Suite up with Test Suit</h3>

Write an article about testing using **Mocha** framework. :rocket:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/

[2016-03-17 15:39] abhisekp opened #602 "Create Article: Testing made Easy with Karma"
<h3 align="center">Suite up with Test Suit</h3>

Write an article about testing using **Karma** framework. :rocket:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/

[2016-03-17 15:41] abhisekp opened #603 "Create Article: Testing Made Easy with Jasmine"
<h3 align="center">Suite up with Test Suit</h3>

Write an article about testing using **Jasmine** framework. :rocket:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCam

[2016-03-17 15:42] abhisekp opened #604 "Create Article: Testing Made Easy with Tape"
<h3 align="center">Suite up with Test Suit</h3>

Write an article about testing using **Tape**. :rocket:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/Wiki</b></a

[2016-03-17 23:10] abhisekp opened #605 "Create Article: Responsive Images using srcset"
<h3 align="center">Obey Browser's Choice</h3>

Write an article about loading images responsively using `srcset` attribute of `img`. :rice_scene:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/Th

[2016-03-18 03:21] abhisekp opened #606 "Create Article: Laying out using Flexbox"
<h3 align="center">Flexbox Frenzy</h3>

Write an article about **Flexbox** layout. :newspaper:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/Wiki</b></a></kbd></p

[2016-03-18 04:08] abhisekp opened #607 "Create Article: Threading using Web Workers"
<h3 align="center">Working Together</h3>

Write an article about writing parallel threaded scripts using **WebWorker**. :scroll:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>

[2016-03-18 06:10] alayek commented on #606
If someone is willing to take this up; feel free to browser through following resources and consolidate the learning, after properly attributing them:

- [Flexbox Essentials](https://www.youtube.com/watch?v=G7EIAgfkhmg)
- [Flexbox Practical Examples](https://www.youtube.com/watch?v=H1lREysgdgc)
- [What The Flexbox?!](https://www.youtube.com/watch?v=Vj7NZ6FiQvo&list=PLu8EoSxDXHP7xj_y6NIAhy0wuCd4uVd

[2016-03-18 08:07] abhisekp opened #608 "Create Article: Code Linting in JavaScript"
<h3 align="center">Catch Before it Crash</h3>

Write an article about **JavaScript code linting** and various popular linting tools available. :white_check_mark:

**Bonus :100: :** Write about other linters such as HTML, CSS, JSON, etc.
<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat wit

[2016-03-18 08:08] abhisekp opened #609 "Create Article: Code Linting in CSS"
<h3 align="center">Catch Before it Crash</h3>

Write an article about CSS code **linting** and various popular linting tools available.

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?

[2016-03-18 08:14] abhisekp opened #610 "Create Article: Code Linting in HTML"
<h3 align="center">Catch Before it Bash</h3>

Write an article about **HTML code linting** and various popular linting tools available. :white_check_mark:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.img

[2016-03-18 08:51] abhisekp opened #611 "Create Article: Node Cluster Parallelism"
<h3 align="center">Parallel Node Train</h3>

Write an article about **NodeJS Cluster and Parallelism**. :train2::train2:

<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCode

[2016-03-18 13:56] #568 closed

[2016-03-18 19:17] erictleung opened #615 "Update function names to match main repository"
This issue, FreeCodeCamp/FreeCodeCamp#7085, is changing function names in the main repo and the corresponding Wiki challenges need to update their function names too. Refer back to that issue to see what challenges have been updated and then need to be updated in the Wiki. Reference this issue when making a change but do not close this issue.

#### Advanced Bonfires
- [x] [Algorithm Exact Change](

[2016-03-19 06:50] trishulpani commented on #534
I'd like to take up Constructors. Let me know if anyone else is looking into it.

[2016-03-19 16:56] Shaif00 commented on #534
Hii, I'm writing data types and control Statements, will create a pull req soon.

[2016-03-19 17:05] alayek commented on #534
@koustuvsinha FYI. Let me know if I need to assign something.

[2016-03-19 17:31] alayek commented on #611
@koustuvsinha might want to take a look at this!

[2016-03-20 08:27] koustuvsinha commented on #611
sure @alayek.. looking into it

[2016-03-20 17:20] MAWAVANSMOOKEY commented on #605
Leave a comment:GOOD

[2016-03-20 18:10] abhisekp commented on #605
@MAWAVANSMOOKEY what do you mean? Do you want to work on this article?

If you want to work on this, please leave a comment such as

or something in the line so that we will assign you for this article.
And after being assigned, please ping us back within 7 days about your progress.

[2016-03-23 10:00] daryl-c opened #630 "Correct Algorithm Symmetric Difference Wiki Code Solution"
Not sure if this is the correct way to bring up this issue, hopefully this is the right way.

Current code solution doesn't allow for filtering out multiples as is required by the solutions in the challenge. I have tweaked the current solution code to allow for this;

Original

    function sym() {

    // Convert the argument object into a proper array
    var args = Array.prototype.slice.call(ar

[2016-03-23 15:00] indrakaw opened #631 "Page permalink when?"
It's nice to share wiki's page link to someone. Email it or share it over social medias. But currently, FreeCodeCamp Wiki doesn't support permalink(?) I have to copy github.io page URL link or blob link of the page.

And if I copied, shared, and open the link via the site, it will redirect/open main page instead of page (e.g: https://www.freecodecamp.com/wiki/Why-You-Should-Try-Pair-Programming, w

[2016-03-23 15:03] Rafase282 commented on #631
Use this one instead when sharing wiki links, https://github.com/FreeCodeCamp/FreeCodeCamp/wiki

[2016-03-25 23:57] abhisekp commented on #631
Or you may use the github.io link https://freecodecamp.github.io/wiki/en/Algorithm-Boo-who/ which points to the article directly.

[2016-03-26 19:31] alayek commented on #630
@daryl-c Are you taking about [this solution](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Algorithm-Symmetric-Difference#code-solution-1)?

Looks to me they are filtering through the array to remove duplicates at the end of that.

[2016-03-26 22:20] daryl-c commented on #630
haha I could of sworn that wasn't there when I looked. Either way, its all good now!

[2016-03-26 22:20] #630 closed

[2016-03-28 06:30] indrakaw commented on #631
:+1: @Rafase282 @abhisekp
Thank you!

[2016-03-28 11:42] #631 closed

[2016-03-28 23:00] dwd2010 opened #641 "Article: no repeats format need to fix."
no repeats format need to fix.
[https://github.com/FreeCodeCamp/wiki/blob/master/Algorithm-No-Repeats-Please.md](https://github.com/FreeCodeCamp/wiki/blob/master/Algorithm-No-Repeats-Please.md)

that format need to fix because this [https://github.com/FreeCodeCamp/camperbot/issues/72](https://github.com/FreeCodeCamp/camperbot/issues/72). so you will see a picture of output from bot at gitter,

[2016-03-29 15:51] experimentswithtech commented on #511
I have used PHP for my uni project on web development and would like to contribute to the articles. Can we talk more about this so i know how you would want it to be?

[2016-03-29 15:53] raisedadead commented on #511
@experimentswithtech Sure thing!
Pick any of the topics in the list above and ping us in the [Wiki Help Chat ](https://gitter.im/FreeCodeCamp/Wiki)room.

[2016-04-01 02:56] alayek commented on #641
@abhisekp @SaintPeter I think I can raise a PR to fix the wiki so that @camperbot fetches properly formatted stuff.

What do I have to do? Where do I find the guideline for bot-friendly wiki article?

[2016-04-01 05:58] davidatthepark commented on #367
Hello, I'm a little new and would love to contribute.
I'll start with "Discard unstaged changes"

@Rafase282 can you please clarify what you meant by "if you sent a PR, please mark it here."  Do you mean checking off the issue in the list? If so, I am not exactly sure how to do that...

[2016-04-01 06:04] alayek commented on #367
@davidatthepark you can also talk to us in the [wiki](https://gitter.im/FreeCodeCamp/Wiki) chatroom. Just clone the repo locally, write your article in a new file that ends in `.md` extension, and raise a PR. Wait for the QA, and implement suggestions from the review (if any), and then we would merge.

I feel that you are already good with Git, but if you still need any help, do let us know in the

[2016-04-01 06:53] swheatley commented on #606
I'm interested in doing this.

[2016-04-01 06:59] alayek commented on #606
@swheatley thanks for your interest! If you need help about anything, feel free to discuss in the [wiki chatroom](https://gitter.im/FreeCodeCamp/Wiki). Do you want me to assign it to you? Or would you like to work at your own pace?

[2016-04-01 07:10] swheatley commented on #606
You can  assign it to me but I would also like to take it at my own pace :)

[2016-04-01 07:12] alayek commented on #606
Sure @swheatley. Try to raise a PR within next week or so. If you are delayed for some reason, just let us know in the chatroom.

[2016-04-01 11:29] theflametrooper opened #653 "Article: Text Editors"
An article similar to #651. Will include content about the most popular free and paid text editors. Should also explain what a text editor is and the difference between a text editor and a full IDE.

[2016-04-01 11:29] theflametrooper commented on #653
I'll work on this!

[2016-04-01 11:33] alayek commented on #653
@Rafase282 I cannot assign @theflametrooper, because his name is not showing up in the list. Can we assign people who are not members?

[2016-04-01 12:15] Rafase282 commented on #653
@alayek I guess they need to be part of FCC github group.

[2016-04-01 12:26] alayek commented on #653
@theflametrooper no worries. Work on your own pace, and submit a PR when you are ready. Just refer to this issue when  you are raising the PR.  Something like

[2016-04-01 19:05] SaintPeter commented on #641
@alayek While we have discussed the camperbot issue, there is no question that this article is not formatted properly.  This needs to be fixed even if we did fix Camperbot.

See the linked issue (FreeCodeCamp/camperbot#72) for discussion on the Camperbot.  If you want to propose some alternative to the way the Camperbot fetches/displays Wiki articles, we're always open to suggetion.  I tihnk it do

[2016-04-02 04:32] abhisekp commented on #653
I think this is a duplicate of https://github.com/FreeCodeCamp/wiki/issues/598

[2016-04-03 01:28] Saerith commented on #615
Created pull request for the remainder of the "Needs Changing" list, [pull 661](https://github.com/FreeCodeCamp/wiki/pull/661).

[2016-04-03 02:29] alayek opened #662 "New Articles on SQL and Relational Databases are Required"
This a rough sketch of the road-map for SQL and relational databases wiki articles.

- [ ] Introduction
    - [ ] Different types of relational databases
    - [ ] `DDL`, `DML`, `DCL` Basics
    - [ ] Getting Started with SQLite
    - [ ] Getting Started with PostgreSQL
    - [ ] Getting Started with MySQL
    - [ ] Getting Started with MS-SQL
    - [ ] Getting Started with Oracle SQL
    - [ ] Ge

[2016-04-03 06:36] awesomeaniruddh commented on #354
I can work on this.

[2016-04-03 08:56] raisedadead commented on #662
LGTM @alayek But then I am not a DB expert

[2016-04-03 08:59] raisedadead commented on #653
@theflametrooper Please do not include issue no.s in commits. :wink:
On a side note can you confirm if this issue is not a duplicate than one that's pointed in the comment above. If yes would you mind closing this? Else you could ignore this request.

We are welcome to the PR though! Thanks a lot for contributing.

[2016-04-04 12:55] theflametrooper commented on #653
This will be closed as duplication of #664

[2016-04-04 12:55] #653 closed

[2016-04-04 13:35] SeanFCC opened #667 "Project Management Articles Needed"
The outline below is a preliminary list of Project Management Articles I am writing. I welcome assistance from the community on the articles as well as adding any additional topics to the outline itself.

I also need assistance creating placeholder articles so that the articles can be linked in other articles as needed even prior to them being completed to reduce the need to go back into previous

[2016-04-04 15:05] theflametrooper commented on #667
@SeanFCC I think we could maybe include details around projects like trello or jira etc...

[2016-04-04 15:19] Rafase282 commented on #667
I checked out the sprint one as it was already merged.

[2016-04-04 16:00] SeanFCC commented on #667
Thanks for the great suggestion. I'll add an article around tools.

[2016-04-05 02:28] alayek commented on #667
@SeanFCC, when you are checking off article milestones; it would be a good idea to link the item to the Wiki article that was created against the request.

[2016-04-05 11:37] abhisekp commented on #598
https://github.com/FreeCodeCamp/wiki/pull/664 adds a partial implementation of the required article.

If anyone wants to work on this, you may refer https://gist.github.com/Zirak/9999e97e01a7bd0a76f6 as a reference for offline editors.

[2016-04-05 16:22] SeanFCC commented on #667
@alayek Thanks for the great suggestion.

[2016-04-05 20:11] swheatley commented on #606
I'm still planning on working on the flexbox wiki don't worry.  Just a little slow with getting started.

[2016-04-06 00:11] abhisekp commented on #606
@swheatley More references

- :european_castle: :bomb: http://www.flexboxdefense.com/
- :frog: :four_leaf_clover: http://flexboxfroggy.com/
- :clock2: :five: http://flexboxin5.com/

[2016-04-06 19:48] swheatley commented on #606
These are really cool.  I like flexboxfroggy

[2016-04-06 19:54] SeanFCC opened #685 "Create Article : Connecting Cloud9 to Github"
I'm willing to work on this because it was a learning experience for me as most documentation I found was outdated.

[2016-04-06 23:34] #354 closed

[2016-04-07 03:00] alayek commented on #685
@SeanFCC you might want to elaborate a little on what you mean by "connecting" c9 to GitHub. As for setting up your c9 work-space with a GitHub repo - you can do so in the same way as you would do on your own machine.

The set of commands are exactly same.

[2016-04-07 03:05] SeanFCC commented on #685
Is there an article showing 'the exact same set of commands' and do they also talk about how to access the command line on cloud9? As well as solutions to common issues?

[2016-04-07 03:16] abhisekp commented on #685
@SeanFCC this article shows an overview of adding a git project to C9
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Develop-Back-End-Project-locally-and-run-on-c9.io

and there are various git articles which show how git works. So i guess instead of "Connecting C9 to GH", it can be "Working with C9" or something in the line which would show how to get around (*with images*) with C9.
This can b

[2016-04-07 03:23] SeanFCC commented on #685
That article covers new setup and needs to be rewritten badly which I am willing to do. It is written also assuming the person knows their way around C9 which I did not. It also does not mention any common issues. One other thing, as someone coming in new the title tells me nothing if I am looking for setting up c9 and github.please feel free to close this one though if yoy feel that one covers th

[2016-04-07 03:34] abhisekp commented on #685
@SeanFCC sure. It would be really nice if you could improve the existing article.

Thanks for your contributions. :smiley:

[2016-04-07 13:22] SeanFCC commented on #685
Absolutely. Thanks for the feedback @abhisekp

[2016-04-07 14:42] SeanFCC commented on #685
@abhisekp What I've realized is that this article you mention is specifically about creating a workspace in C9 to work on backend tasks. I'm proposing a more general document on setting up C9 and Github. Which is basically step 1 in the current article. I would like to go ahead a submit a new article and then come back to that one to add some clarification to it. What do you think about that appro

[2016-04-07 15:06] Saerith commented on #615
I'll start through the rest of these today.

[2016-04-08 00:33] zenware opened #696 "Github Flavored Markdown Doesn't Render Well on Main Site"
https://www.dropbox.com/s/5b5tb5sppego2nr/Screenshot%202016-04-07%2019.31.51.png?dl=0

See https://www.freecodecamp.com/wiki/en/list-of-free-code-camp-city-based-campsites/

[2016-04-08 02:35] abhisekp commented on #696
Looks like something is broken :broken_heart:
cc: @awesomeaniruddh and @SaintPeter

[2016-04-08 03:34] awesomeaniruddh commented on #696
@abhisekp @zenware Is this GitHub flavoured MDown? I've never seen it before.

[code]

I'm not sure how images work in the wiki, but the issue seems to be that the img URL is relative and because the image is hosted on GitHub and not FreeCodeCamp, it's returning a 404 when viewed from freecodecamp.com

I suggest replacing the relative link with: `https://raw.githubusercontent.com/FreeCodeCamp/wiki

[2016-04-08 04:15] zenware commented on #696
I think so, it's coming straight from the content of the github wiki page, and it renders correctly on the page in this repository. I'll post another screenshot tomorrow morning unless someone bothers to do it firsrt.

[2016-04-08 16:32] zenware commented on #696
Here is how it renders on the [github page:](https://github.com/FreeCodeCamp/wiki/blob/834c0c9781bc1c5dd980b25e3ec0be36369041fb/List-of-Free-Code-Camp-city-based-Campsites.md) https://www.dropbox.com/s/110hdjvc3yfnn7r/Screenshot%202016-04-08%2011.31.02.png?dl=0

[2016-04-08 17:12] theflametrooper opened #701 "Create Articles: Twitch"
I can create all of these articles. However, if someone wants to help out, and has a good knowledge of twitch, leave a comment. The articles will include:

- [x] Explaining what Twitch is and setting up your Twitch Account
- [x] FreeCodeCamp on Twitch (Following FreeCodeCamp and getting alerts about when we go live)
- [x] Learn how to get started streaming yourself

If you have any more ideas for

[2016-04-08 17:13] theflametrooper commented on #701
@Rafase282 https://github.com/FreeCodeCamp/wiki/blob/master/Twitch.md and https://github.com/FreeCodeCamp/wiki/blob/master/Stream-Your-Coding-Sessions-on-Twitch.tv.md can be deleted after these articles have been finished. The information is incorrect and outdated.

[2016-04-08 18:11] Rafase282 commented on #701
@theflametrooper I would say make a PR with their deletion after the new ones are merged. I think @Septimus created one about setting OBS or how to get started streaming, or was it only a medium post?

[2016-04-08 18:14] theflametrooper commented on #701
@Rafase282 It was a Medium Post. I'll go more in depth probably.

[2016-04-09 05:22] #696 closed

[2016-04-09 09:29] theflametrooper opened #707 "Create Articles: CSS Frameworks"
This will include articles about popular css frameworks and the basics of how to use them.
The articles should include the following css frameworks:

- [x] [Bootstrap](http://getbootstrap.com/)
- [x] [Materialize](http://materializecss.com/)
- [x] [Foundation](http://foundation.zurb.com/)
- [x] [Skeleton](http://getskeleton.com/)
- [x] [Bulma](http://bulma.io/)

[2016-04-12 10:09] theoneinskane commented on #667
I can help with the stakeholder management and root cause analysis one. In my previous job I was the global expert advisor for problem solving in my company (not software though).

[2016-04-12 10:12] theoneinskane commented on #539
what sort of content are you looking for  @QuincyLarson like some general help/guidance for the user? If so I can look at this for the tribute and personal portfolio webpages

[2016-04-12 13:05] alayek opened #721 "Multiple Home Links on Main Wiki"
There are multiple links to home present on the main wiki at the moment. Here's a screen-shot I have taken

![wiki](https://cloud.githubusercontent.com/assets/5607371/14460839/5a7937b6-00dd-11e6-9757-022e75a16380.png)

[2016-04-12 13:18] alayek commented on #539
If I am not much mistaken, what we are looking for here; is some sort of guidance, without a hand-holding type of guide.

Like, how you would plan a project like this, what are the resources you might need, what common pitfalls you could run into, how to start and improve upon your solution etc.

[2016-04-12 13:47] abhisekp commented on #721
@QuincyLarson @BerkeleyTrue any idea why this occurs? I've seen such things in other OSS project wikis too. So i suppose it's a GH bug?

[2016-04-12 17:33] BerkeleyTrue commented on #721
It might be, but I don't have enough experience with it to say otherwise.

[2016-04-13 21:32] CEREBR4L commented on #707
They could almost do with their own one each with learning resources, cheat sheets and w/e else is needed. Bulma (a flexbox framework) might be a good one to do also?

[2016-04-14 07:15] theflametrooper commented on #707
@CEREBR4L Yeh, we'll create a separate article for each ;) Thanks, I added Bulma.

[2016-04-14 17:22] sludge256 opened #731 "Update Article: Add clauses to the Code of Conduct"
The article needs to mention trolling and spamming are not tolerated. As with the other clauses, such actions will incur appropriate action by an admin. There should also be a concise definition of the two.

For example:

For reference:
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Code-of-Conduct
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Gitter-Moderation-Policy

[2016-04-14 17:50] abhisekp commented on #731
It also needs to be updated in the file associated with https://www.freecodecamp.com/code-of-conduct

[2016-04-15 01:49] lilyheart commented on #721
The pages list also includes all the pages from the other languages.  There are three other "Home" pages in the various localization folders.  I believe this accounts for the extra home pages.  I could test it  by changing one of those home files to something like fr.home (language prefix) and see if that moves it but that change might be better made by someone with direct access so the change can

[2016-04-15 02:01] Rafase282 commented on #721
They all point to the same home. Is not like one is pointing to a different language.

[2016-04-15 02:08] lilyheart commented on #721
There is nothing different about the URL path on the files in the subf-olders (see the link I added at the end of my previous comment).  That would mean that a file in the top folder and a file in a sub-folder with the same name would have the same URL.

[2016-04-15 02:32] Rafase282 commented on #721
Int hat case, perhaps it would be best to have the name of the page in the target language?

[2016-04-15 10:15] lilyheart commented on #721
Maybe preface every page in each language with the same prefix so they are found easier and show under pages grouped together?  E.g. FR:Page-Name

[2016-04-16 04:36] WAKEUPMGPI opened #739 "I was setting up a new editor and it posted 'nonsense'. I am deeply sorry for the confusion and inconvenience! Please forgive me?"

[2016-04-16 04:37] #739 closed

[2016-04-16 04:46] WAKEUPMGPI opened #740 "I am sorry for the confusion and inconvenience."
Earlier, I was setting up Git in a new editor and I have no idea why it posted nonsense on the repository? I should have made sure I was doing it properly. It worked but until I recieved a message I really did not know what it originally did. again, I am terribly sorry.

[2016-04-16 05:12] Rafase282 commented on #740
Could you point out where the changes that you made are?

[2016-04-16 06:01] #740 closed

[2016-04-16 06:37] WAKEUPMGPI commented on #740
It was

On Saturday, April 16, 2016, Rafael J. Rodriguez <notifications@github.com>
wrote:

[2016-04-16 06:43] WAKEUPMGPI commented on #740
It is closed issue #8142.

[2016-04-16 09:43] #701 closed

[2016-04-16 09:45] theflametrooper opened #741 "Append and Remove Twitch Articles"
This is due to the recent switchover to using YouTube for livestreams and summits.

[2016-04-16 15:22] theflametrooper opened #744 "Update How to Stream"
Waiting for finalisation of details for how we will stream summits and pair programming in the future.

[2016-04-17 14:51] #741 closed

[2016-04-18 12:26] theflametrooper commented on #685
@SeanFCC @abhisekp Current status of this article? Are you going to improve the existing article?

[2016-04-19 06:24] xRahul opened #753 "max-width to .wiki-container"
`max-width` css to the class `.wiki-container` is set to `960px` which is making the UI too narrow.
Need to remove that.

Without `max-width: 960px;`

![screenshot from 2016-04-19 10 57 07](https://cloud.githubusercontent.com/assets/1639945/14629548/22c94eee-0625-11e6-8472-631d18a9fa34.png)

With `max-width: 960px;`

![screenshot from 2016-04-19 10 56 31](https://cloud.githubusercontent.com/assets

[2016-04-19 06:57] alayek commented on #753
@xRahul if `max-width: 960px` is removed, are you able to properly navigate horizontally to view the full image?

Also, this issue should be filed on the main repo: https://github.com/FreeCodeCamp/FreeCodeCamp because it's a site level presentation issue, not an issue with the content.

[2016-04-19 07:32] xRahul commented on #753
@alayek Can you give an example of which image you're talking about?
I just checked on the wiki, and we can still do the horizontal scrolling after removing the max-width.

And this is an issue with the gh-pages branch of the wiki, not the main repo.

[2016-04-19 07:34] raisedadead commented on #753
@xRahul Please log this on the main repo.

[2016-04-19 07:34] #753 closed

[2016-04-19 07:52] xRahul commented on #753
@raisedadead @alayek  this is an issue with the `gh-pages` branch of wiki repo itself. It doesn't have anything to do with the main repo.
file: https://github.com/FreeCodeCamp/wiki/blob/gh-pages/styles.css

[2016-04-19 12:51] raisedadead commented on #753
@xRahul Thanks.

Its not about the location of the code. @alayek, myself couldn't be more correct in saying where the issue needs to be logged, considering that's our primary responsibility.

FYI, I'll give you how I reached the conclusion of pointing you to the main repo. Check [these issues](https://github.com/FreeCodeCamp/FreeCodeCamp/labels/wiki).

The `gh-pages` is supposed to be deployed via

[2016-04-19 16:31] xRahul commented on #753
@raisedadead Thanks for explaining the process. I really wasn't clear on how the wiki is being maintained.
I've just looked into the the issues & the generator being used for the wiki and finally get what you guys have been talking about.

I will check out the generator more in detail, though you guys will have to help me out here as I'm still not clear about a lot of things related to the project

[2016-04-19 16:41] raisedadead commented on #753
@xRahul Sure thing!

Feel free to seek any assistance in the [Contributors Chat room](https://gitter.im/FreeCodeCamp/HelpContributors).
Do leave messages there and someone will respond surely, helping you out in anyway they can.

Thanks again for contributing!

[2016-04-20 14:56] Rafase282 commented on #721
@lilyheart you were right. I renamed one of them and they worked. I'll make a PR with renaming all of them and we will also need to add this bit to the guidelines.

[2016-04-20 15:45] Rafase282 commented on #721
I just made the PR with the needed changes to fix this issue.

[2016-04-20 15:58] Rafase282 commented on #721
The changes has been made.

[2016-04-20 15:58] #721 closed

[2016-04-20 16:44] Rafase282 commented on #343
I'm taking care of this.

[2016-04-21 02:41] abhisekp opened #764 "Create Article: Better Logging with Git"
<h1 align="center">Pretty Logs</h1>

Write an article about logging in git for better productivity workflow. :octocat:
Explain the format flag in details.

Ref.: https://coderwall.com/p/euwpig/a-better-git-log
<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https

[2016-04-21 02:48] abhisekp opened #765 "Create Article: Simple Angular2 App"
<h1 align="center">ng Simplified</h1>

Write an article to create a **Basic Angular2 app**. :v:
<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/Wiki</b></a></kbd></p

[2016-04-21 03:01] abhisekp opened #766 "Create Article: Styling select Box"
<h1 align="center">select Me If You Can</h1>

Create an article detailing the steps to style a `select` box or customize it in a pretty way. :dancer:

**Bonus:** Use JavaScript to create a _fake_ `select` box, populate it with original `select` box `option`s, style it and use it (_similar to jQuery's [**select2**](select2.github.io) plugin_).

Ref.: https://coderwall.com/p/w7npmq/fully-custom-sele

[2016-04-21 03:07] abhisekp opened #767 "Create Article: Deploy using Git"
<h1 align="center">Introducing Git Deployment</h1>

Write an article about website deployment using Git. :octocat:

Ref.: https://coderwall.com/p/xczkaq/ftp-is-so-90-s-let-s-deploy-via-git-instead
<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/

[2016-04-21 03:20] abhisekp opened #768 "Create Article: JavaScript Image Slider"
<h1 align="center">Sliding Images Easy</h1>

Write an article about creating **Image Slider using Pure JavaScript** :sunrise_over_mountains:

**Bonus :100: :** You may use jQuery

Ref.: https://coderwall.com/p/vsdrug/how-to-create-an-image-slider-with-javascript
<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b><

[2016-04-21 06:08] t3h2mas commented on #509
I think that context managers should be introduced in the files and directories section. Not only
[code]

but a quick rundown on making your own
[code]
since classes would have already been covered.

[2016-04-21 06:46] abhisekp opened #769 "Create Article: Git Protocol Difference"
<h1 align="center">Git Protocols Mashup</h1>

Write an article about **Git protocols** and when to use what. :octocat:

Ref.: https://gist.github.com/grawity/4392747
<br>
<br>

<p align="center">Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="ht

[2016-04-22 14:19] n00bax opened #778 "Bad solution code for the "Profile lookup" challenge"
link: https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Checkpoint-Profile-Lookup#code-solution

The code solution in the profile lookup challenge wiki page is wrong(I think), I added the correct code below with an explanation inside comments in front of the modified line.
[code]

[2016-04-22 18:40] tasha-a-coder commented on #588
@biancamihai Have you and opportunity to check for the missing images?  If I can be of help in any way, let me know.

[2016-04-23 04:36] #343 closed

[2016-04-23 08:07] koustuvsinha commented on #778
hey @n00bax ! good find. yes indeed using `hasOwnProperty` is a better solution. care to file a PR on [this file](https://github.com/FreeCodeCamp/wiki/blob/master/Checkpoint-Profile-Lookup.md)?

[2016-04-24 05:10] #778 closed

[2016-04-24 15:08] biancamihai commented on #588
@tasha-a-coder please take the images from https://docs.google.com/document/d/1FA78Bt1Y-Rc5eDPHeYEDBJuxj1lWDOhw2oInP6ppZrE/edit?usp=sharing ;) let me know if you have any problems in viewing this document

[2016-04-24 19:09] raisedadead commented on #588
@biancamihai Thanks a lot for helping out with the images.

[2016-04-24 21:00] theflametrooper opened #785 "Create articles: Setting up Ubuntu for Programming"
1. Download and Install Ubuntu Desktop
2. Customising Ubuntu
3. Jazzing up the Terminal
4. Installing DevTools and modern web browsers
5. Downloading Text Editors and IDEs
6. Alternatives to popular Windows and Mac software

[2016-04-24 22:39] Rafase282 commented on #785
Well,

* install updates
* install filemanagers
* propietary drivers
* developper tools
* IDE
* setup rest of workspace (git, node, mongo or whatever you dev for)
* set aliases cause they are fun

That's what I did and normally do. So you want to set ubuntu from scratch meaning fresh installation or just for FCC web dev?

[2016-04-25 07:13] theflametrooper commented on #785
@Rafase282 From scratch and for web dev (Not necessarily FCC)

[2016-04-25 09:36] abhisekp commented on #785
- [ ] Download Latest and Greatest [**Ubuntu Desktop**](http://www.ubuntu.com/download/desktop)
 _Also see [*alternative download methods*](http://www.ubuntu.com/download/alternative-downloads)_
- [ ] Updating/Upgrading Ubuntu to the latest software.
- [ ] Installing software using [Ubuntu's package managers](https://help.ubuntu.com/lts/serverguide/package-management.html) such as `apt` (_CLI_), `

[2016-04-25 11:32] theflametrooper commented on #785
@abhisekp Wow! Thanks so much. Let me take a look at the list, refine it and then i'll make it the issue description.

[2016-04-26 16:08] #588 closed

[2016-04-26 16:58] theflametrooper opened #797 "Splitting Articles"
@alayek, @Rafase282 and @theflametrooper need to split all these articles into multiple ones which are smaller:

- [x] https://github.com/FreeCodeCamp/wiki/blob/master/Python-Basics.md
- [x] https://github.com/FreeCodeCamp/wiki/blob/master/Python-Functions.md **Waiting for Merge**
- [x] https://github.com/FreeCodeCamp/wiki/blob/master/Python-More-Builtin-Types.md **Waiting for Merge**
- [x] https:

[2016-04-26 17:00] Rafase282 commented on #797
The Idea that I have is to split them by heading, and then have them link back to their parent.

[2016-04-26 17:01] theflametrooper commented on #797
@Rafase282 Similar to this: https://github.com/FreeCodeCamp/wiki/blob/master/Python.md ?

[2016-04-26 17:03] Rafase282 commented on #797
I would say a [Back to -Parent Article Name-]() would be enough.

[2016-04-27 18:19] Rafase282 commented on #797
I'm going to take care of python basics.

[2016-04-27 20:40] Rafase282 commented on #797
I'll move to Python Functions now.

[2016-04-27 21:59] Rafase282 commented on #797
I'm working on Built-in types while the other gets reviwed/merged

[2016-04-28 04:21] abhisekp opened #812 "Create Article: Writing a Node/NPM Module Easy"
<h1 align="center"><a href="https://github.com/sindresorhus/ama/issues/10#issuecomment-117766328">Module Madness </a></h1>

Write an article about writing a basic **Node/NPM Module** :mushroom:

**BONUS :100: :**  _Write detailed article splitting up in various pages_
<br>
<br>

<p align="center">Need Help? Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>

[2016-04-28 16:40] abhisekp opened #816 "[Vote Me] Navigation Button Proposal"
Below are a list of proposals for navigating various related articles in the Wiki.

Please add your [reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) to it.

Thanks :)

Everyone is welcome to vote :+1: :-1: :tada: :heart:

----
cc: @FreeCodeCamp/wiki-mods

[2016-04-28 16:41] abhisekp commented on #816
# Proposal 1 :ring:

<div align="center">
<kbd><a href="Java-Intro">:point_left: <strong> Java Intro</strong><br>Previous</a></kbd> &mdash; <kbd align="center"><a href="java">:earth_asia: <strong>Java Home</strong> :earth_asia:<br>Table of Contents</a></kbd> &mdash; <kbd align="right"><a href="Java-Inheritance-Basics"><strong>Java Inheritance Basics</strong> :point_right:<br>Next</a></kbd>
</div>

[2016-04-28 16:41] abhisekp commented on #816
# Proposal 2 :ring:

<div align="center">
<a href="Java-Intro"><kbd>:point_left: <strong> Java Intro</strong><br>Previous</kbd></a> &mdash; <a href="java"><kbd align="center"> :earth_asia: <strong>Java Home</strong> :earth_asia: <br>Table of Contents</kbd></a> &mdash; <a href="Java-Inheritance-Basics"><kbd align="right"><strong>Java Inheritance Basics</strong> :point_right:<br>Next</kbd></a>
</div

[2016-04-28 16:41] abhisekp commented on #816
# Proposal 3 :ring:

[**Previous**](Java-Intro) | [**Home**](Java) | [**Next**](Java-Inheritance-Basics)
:---|:---:|---:
<kbd><a href="Java-Intro"> :point_left: <strong>Java Intro</strong></a></kbd> | <kbd><a href="java"> :earth_asia: <strong>Java Home (TOC)</strong> :earth_asia: </a></kbd> | <kbd><a href="Java-Inheritance-Basics"><strong>Java Inheritance Basics :point_right: </strong></a></kbd>

[2016-04-28 16:41] abhisekp commented on #816
# Proposal 4 :ring:

[**Previous**](Java-Intro) | [**Home**](Java) | [**Next**](Java-Inheritance-Basics)
:---|:---:|---:
<a href="Java-Intro"><kbd> :point_left: <strong>Java Intro</strong></kbd> </a>| <a href="java"><kbd> :earth_asia: <strong>Java Home (TOC)</strong> :earth_asia: </kbd></a> | <a href="Java-Inheritance-Basics"><kbd><strong>Java Inheritance Basics :point_right: </strong></kbd></a>

[2016-04-28 16:41] abhisekp commented on #816
# Proposal 5 :ring:

<div align="center">
<a href="Java-Intro"><kbd>:point_left: <strong> Java Intro</strong></kbd></a> &mdash; <a href="java"><kbd align="center">:earth_asia: <strong>Java Home</strong> :earth_asia:</kbd></a> &mdash; <a href="Java-Inheritance-Basics"><kbd align="right"><strong>Java Inheritance Basics</strong> :point_right:</kbd></a>
</div>

[2016-04-28 16:41] abhisekp commented on #816
# Proposal 6 :ring:

<div align="center">
<kbd><a href="Java-Intro">:point_left: <strong> Java Intro</strong></a></kbd> &mdash; <kbd align="center"><a href="java">:earth_asia: <strong>Java Home</strong> :earth_asia:</a></kbd> &mdash; <kbd align="right"><a href="Java-Inheritance-Basics"><strong>Java Inheritance Basics</strong> :point_right:</a></kbd>
</div>

[2016-04-28 17:10] Rafase282 commented on #816
Should we just add one reaction per proposal, then use the party looking one for the winner? Also we could go for multiple options if you like more than one and then we narrow it down to 1.

[2016-04-28 18:29] abhisekp commented on #816
@Rafase282
these count as
- positive votes: :+1: :tada: :smile:  :heart:
- negative votes: :-1: :confused:

[2016-04-28 18:32] Rafase282 commented on #816
I don't know why you put them all, that would render your vote null since you basically voted for all of them up and down.

[2016-04-28 18:33] abhisekp commented on #816
@Rafase282 yeah! my votes will be the last vote. No issues :+1:

[2016-04-28 19:45] abhisekp commented on #816
@Rafase282 @koustuvsinha @alayek check this out

----
<table align="center" width="100%">
  <tr>
    <td><a href="Java-Intro"> Java Intro </a></td>
    <td align="center"><a href="#java-basics"><kbd><kbd></kbd> <kbd></kbd> <kbd></kbd><br>
<b>Java Basics</b><br><kbd></kbd> <kbd></kbd> <kbd></kbd> <kbd></kbd> <kbd></kbd></kbd></a></td>
    <td align="right"><a href="Java-Inheritance-Basics">Java Inh

[2016-04-28 19:48] Rafase282 commented on #816
I'm conflicted too, the top part with java basics.

[2016-04-28 19:50] abhisekp commented on #816
@Rafase282 @theflametrooper the current article/topic is highlighted

[2016-04-28 19:52] #797 closed

[2016-04-28 19:55] Rafase282 commented on #797
@theflametrooper tag me on the next batch ;-)

[2016-04-28 19:55] abhisekp commented on #816
@Rafase282 in the **Proposal 7**, it has an advantage that all articles are listed at the bottom of the article so that any one can go to any article or they may also be listed like this

<table align="center" width="100%">
  <tr>
    <td align="center"><a href="Java"> <b>&middot;&middot;&middot;</b> </a></td>
    <td align="center"><a href="#java-basics"><kbd><kbd></kbd> <kbd></kbd> <kbd></kbd><b

[2016-04-28 20:22] theflametrooper commented on #816
I think I prefer proposals 1 - 6. Not sure which ones though :laughing:

[2016-04-28 22:53] SaintPeter commented on #816
I am not in love with the :earth_asia: Bookends :earth_asia:
Having more than one looks weird to me.

I think I like the prev/home/next of Proposal 7 best, but I am not in love with the table of contents.  I really REALLY dislike this:

    <td align="center"><a href="Java-Basics">Java Basics</a></td>
    <td align="center"><a href="#java-inheritance-basics"><kbd><kbd></kbd> <kbd></kbd> <kbd></kbd

[2016-04-29 03:36] carloselhalabi opened #818 "Some links provided in the wiki do not work"
There are 2 links in the [wiki](https://www.freecodecamp.com/wiki/en/) sending users to 404 pages (obviously, because they don't exist as they are specified).

1. The first 404 error is given when following the "How To Contribute From Your Browser" [link](https://freecodecamp.github.io/wiki/en/Guide-Online-Contribution).

2. The second 404 error is given when following the "Pull Request Guidelines

[2016-04-29 04:59] Rafase282 commented on #818
@carloselhalabi the links and the whole page is outdated. We are trying to fix the script to update the page and sync it with the actual [wiki](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki)

[2016-04-29 06:28] alayek opened #819 "Create new articles for Python 3 built-in functions"
We create new articles to serve as quick reference to Python 3 built-in functions, and put them interlinked with the More built-in functions article.

- [ ] `abs()`
- [ ] `all()`
- [ ] `any()`
- [ ] `ascii()`
- [ ] `bin()`
- [ ] `bool()`
- [ ] `bytearray()`
- [ ] `bytes()`
- [ ] `callable()`
- [ ] `chr()`
- [ ] `classmethod()`
- [ ] `compile()`
- [ ] `complex()`
- [ ] `delattr()`
- [ ] `dict()`
-

[2016-04-29 06:47] Rafase282 opened #820 "Update README.md"
The README file needs to be updated to add better examples on how to fork and clone, add remote and how to keep the fork synced with the remote.

[2016-04-29 14:27] abhisekp commented on #816
# Proposal 8

<div align="left">
  <kbd><a href="Java-Intro">:point_left: <b>Java Intro</b></a></kbd>
</div>

<div align="center">
  <kbd><a href="Java-Basics"> :point_left:<br><b>Prev</b></a></kbd> <b>|</b> <kbd align="center"><a href="Java">:book:<br><b>Home</b></a></kbd> <b>|</b> <kbd><a href="Java-Inheritance-Basics"> :point_right:<br><b>Next</b></a></kbd><br>
</div>

<div align="right">
  <kb

[2016-04-29 15:28] Rafase282 commented on #820
I'm working on this now.

[2016-04-29 15:43] Rafase282 commented on #816
I'm confused with proposal 8. Prev and Next are the same or different from the other similar looking buttons?

[2016-04-29 16:00] theflametrooper commented on #816
@abhisekp If you made it vertically aligned, then it would be awesome!

[2016-04-29 16:41] abhisekp commented on #816
@Rafase282 they're same but it adds to the UI so that it shows the name of the next lesson.
This is somewhat similar

----
<div align="left">
  <a href="Java-Intro"><kbd>:point_left: <b>Java Intro</b></kbd></a>
</div>

<div align="center">
  <kbd><a href="Java-Basics">:arrow_backward:<br><b>Prev</b></a></kbd> <b>|</b> <kbd align="center"><a href="Java">:book:<br><b>TOC</b></a></kbd> <b>|</b> <kbd>

[2016-04-29 18:13] theflametrooper commented on #816
@abhisekp I just think it takes up too much space. It's definitely still my preferred proposal though.

[2016-04-29 18:27] #707 closed

[2016-04-29 19:05] evaristoc commented on #816
7 is classic and that is why I prefer that one... Only that the prev and next should be at each side instead

[2016-04-29 19:10] #820 closed

[2016-04-29 22:13] SaintPeter commented on #816
I really like the Book better than the worlds.  Also, the arrows are classy.

[2016-04-30 03:50] carloselhalabi commented on #818
@Rafase282 Is somebody working on that? I'd like to check it out and help if I can

[2016-04-30 07:03] alayek commented on #818
@carloselhalabi might want to join our [gitter chatroom](https://gitter.im/FreeCodeCamp/Wiki)

[2016-04-30 15:34] Rafase282 commented on #819
I say we name name `Python-Function-[the function name].md`

[2016-04-30 17:27] theflametrooper opened #829 "Create articles: HTML Preprocessors"
This will include articles about the following pre-processors:
- [ ] `Jade/Pug`
- [ ] `Haml`
- [ ] `Markdown`
- [ ] `Slim`

[2016-04-30 18:46] vcooley opened #831 ""Checkpoint" articles normalization"
It appears that checkpoints were removed and combined with challenges a while back. However, the articles corresponding to those are still prefixed with 'checkpoint-'.

I'm working on a [ticket](https://github.com/FreeCodeCamp/wiki-generator/issues/12) on the main site and think that these should be changed to a 'challenge-' prefix as that's what they seem to be integrated into now.

For instance:

[2016-04-30 18:48] theflametrooper commented on #831
@vcooley Sounds good! If you want to submit a pr, go ahead! If not, I will jump on this!

[2016-04-30 18:49] vcooley commented on #831
Cool, I'll do it!

[2016-04-30 18:49] theflametrooper commented on #831
@vcooley I'll `QA` you :+1:

[2016-04-30 18:57] Rafase282 commented on #831
@vcooley keep in mind, that wiki is outdated. Like really old. Currently we need to get the generator up and runnign again so we can update the articles. This has already been corrected as far as I know.

We just need the wiki generator working again before we can work with the wiki you see on https://www.freecodecamp.com/wiki/en

[2016-04-30 18:59] theflametrooper commented on #831
@Rafase282 @vcooley
There are still a few that need changed:
![](https://i.gyazo.com/d195eeab5fc9494ef869caf2481fe934.png)

[2016-04-30 19:06] Rafase282 commented on #831
Alright, I'm checking with the core team about that, if we didn't change them it was for a reason, I just can't remember why.

[2016-04-30 19:07] vcooley commented on #831
@Rafase282
Thanks!

[2016-04-30 21:01] vcooley commented on #831
I went ahead and submitted a PR, but its fine if it needs to be closed for whatever reason.

[2016-04-30 21:23] #831 closed

[2016-04-30 22:45] Rafase282 commented on #818
@carloselhalabi I'm working on getting the script working.

[2016-04-30 23:42] theflametrooper opened #836 "Add REPL.it snippets to all of the algorithms"
Template: `:rocket: [REPL It!](URL)`.

**Basic Algorithm Scripting:** #837
- [x] Reverse a String
- [x] Factorialize a Number
- [x] Check for Palindromes
- [x] Find the Longest Word in a String
- [x] Title Case a Sentence
- [x] Return Largest Numbers in Arrays
- [x] Confirm the Ending
- [x] Repeat a string repeat a string
- [x] Truncate a string
- [x] Chunky Monkey
- [x] Slasher Flick
- [x] Mutati

[2016-05-01 14:16] #836 closed

[2016-05-02 09:26] theflametrooper commented on #598
Closing as #651 addressed this issue.

[2016-05-02 09:26] #598 closed

[2016-05-02 17:28] Rafase282 commented on #816
@abhisekp I just spoke with Quincy and we have to keep it as markdown.

[2016-05-03 00:48] hallaathrad opened #843 ""Gitter" article should have link to our channels"
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Gitter
Self descriptive. Addition request.

#EasyContribution

[2016-05-03 01:05] theflametrooper commented on #843
@hallaathrad Channels are available here: https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Official-Free-Code-Camp-Chat-Rooms.

[2016-05-03 01:09] hallaathrad commented on #843
Thanks @theflametrooper, I'm well aware of it.
Simply suggested the crosslinking to the list from the article.

This should be a pretty simple PR and though either of us could do it, I want to leave it so others can make their first contribution.

Also, Don't we have an issue label for this sort of "easy-grab" sort of deal yet??

[2016-05-03 01:11] theflametrooper commented on #843
@hallaathrad Awesome! I'll make a `easy` label!

[2016-05-03 15:50] #843 closed

[2016-05-03 17:17] #785 closed

[2016-05-03 22:07] Rafase282 commented on #816
This will be the new format, the only thing to change would be the icons if you want to propose different ones.

:point_left: [Prev]() | :book: [Home]() :book: |  [Next]() :point_right:
:---|:---:|---:
 [**Java Basics**]() | [**Table of Contents**]() | [**Java Interface Basics**]()

Icons by @abhisekp
Table structure from [here](https://help.github.com/articles/organizing-information-with-tables/)

[2016-05-04 00:17] germainep commented on #731
I would like to tackle this issue if there is no one working on it.

[2016-05-04 03:27] QuincyLarson commented on #816
@Rafase282 LGTM. The only thing I would recommend is spelling out "Previous" instead (non-native English speakers may misunderstand what Prev means.

[2016-05-04 04:21] alayek commented on #731
Sure thing @germainep! If you need help with raising PR, contact us in the [Wiki chat](https://gitter.im/FreeCodeCamp/Wiki).

[2016-05-05 16:17] theflametrooper commented on #816
Closing. We are using @Rafase282 's example: https://github.com/FreeCodeCamp/wiki/issues/816#issuecomment-216679394

[2016-05-05 16:17] #816 closed

[2016-05-06 02:14] Rafase282 commented on #731
Looks good to me, waiting on some of the core team members to check on it.

[2016-05-07 02:03] erictleung opened #866 "Small update on article on labels in main repo"
The `easy` label should be changed to `first timers only` as we recently changed it.

https://github.com/FreeCodeCamp/wiki/blob/master/Select-Issues-for-Contributing-Using-Labels.md

![image](https://cloud.githubusercontent.com/assets/2754821/15089656/fa53e9ce-13bc-11e6-9c54-ec49443e3c66.png)

[2016-05-07 12:41] Rafase282 commented on #818
Seems like the links are pointing to freecodecamp.github.io as the base url instead of freecodecamp.com.

I'll take a look at it.

[2016-05-07 15:30] theflametrooper commented on #367
I'm working on:
- [ ] Clone a specific branch
- [ ] Rename Local Branch
- [ ] Clone all remote branches

[2016-05-07 15:52] #292 closed

[2016-05-07 15:52] Rafase282 commented on #344
Hello, didn't you already do this? is it okay to close this issue now?

[2016-05-07 18:30] QuincyLarson opened #874 "Fix Repl.it integration copy and presentation"
![](https://www.evernote.com/l/Ar_wkSM6rgZKU4m8wIYW_aSUr4a6i7VNo7sB/image.png)

[2016-05-07 18:45] abhisekp commented on #874
@QuincyLarson how about this one with **"Run code"** instead of "REPL it!"?

[![](http://i.imgur.com/oWwrA87.png)](http://i.imgur.com/oWwrA87.png)

in https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Algorithm-Diff-Two-Arrays#code-explanation

[2016-05-07 21:29] fulvi0 commented on #767
@abhisekp, i'll like to make contribution about this topic, but I have a question about, when you said website could be a static one?

[2016-05-08 01:53] theflametrooper opened #875 "Create Git.md"
- [x] Introduction
- [x] Link to all git articles
- [x] Rename files as needed
- [x] Useful Git Tutorials

[2016-05-08 01:55] theflametrooper commented on #768
@abhisekp You say "using Pure JavaScript" and then underneath you say "You may use jQuery" :question:

[2016-05-08 05:43] abhisekp commented on #768
@theflametrooper feel free to do it using jQuery :100: :+1:

[2016-05-08 05:59] abhisekp commented on #767
@fulvi0 :sparkles: thanks for your interest in contributing.
We have an article about deploying to Github pages here :point_right: [**Using Github Pages for your front end development projects**](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Using-Github-Pages-for-your-front-end-development-projects).
You may improve the existing article (*either by removing, updating, enhancing or adding*) co

[2016-05-08 14:30] theflametrooper opened #877 "Update Map.md"
https://github.com/FreeCodeCamp/wiki/blob/master/Map.md
With the recent PR of getting rid of the `Checkpoint-` prefixes, some links are invalid on `Map.md`.

[2016-05-08 15:15] fulvi0 commented on #767
Thank you for the information @abhisekp, I already got a [draft](https://github.com/fulvi0/wiki/blob/intro-git-deployment/intro-git-deployment.md), if you can take a look; so I will write the article but focus on deploy a website using Heroku.

[2016-05-08 15:19] alayek commented on #767
@fulvi0 it's better that you raise a pull request against our Wiki. This way we can directly review and merge your content.

[2016-05-08 15:29] fulvi0 commented on #767
@alayek yes, but still i'm working on it, a now I'll make couple of change for the article deploying to live 3rd party production server using Git.

Thanks for the advices.

[2016-05-08 16:10] abhisekp commented on #767
@fulvi0 if you're working on it, that's fine. You can file a Pull Request (PR) of the draft and in the PR message just say that you're working on it i.e. **`in progress`** and then just add more and more comments on top of it.

We'll give it a "`in progress`" label so whenever you're finished, just add a comment in the PR that you're complete and the Wiki Team :shipit: :shipit: :shipit: :shipit: w

[2016-05-08 16:12] #877 closed

[2016-05-08 17:06] #290 closed

[2016-05-08 17:07] Rafase282 commented on #291
Could you provide more details?

[2016-05-08 17:07] #288 closed

[2016-05-08 19:46] dwd2010 opened #880 "Typo in Change Text with Click Events Page"
https://github.com/FreeCodeCamp/wiki/blob/master/Challenge-Change-Text-with-Click-Events.md

[2016-05-08 20:01] #880 closed

[2016-05-08 21:08] jakegardner commented on #812
I got this one.

[2016-05-09 00:56] abhisekp commented on #812
@jakegardner Thank you for your interest :tada:

I'm assigning this to you.
Please create an empty PR and write **`[in progress]`** in the PR title and push changes often :)

You may create an empty PR using
[code]

[2016-05-09 03:21] gwenf commented on #510
I just made a pull request for the article on strings. I would like to write the one for numbers too if no one else it.

[2016-05-09 10:39] theflametrooper commented on #768
Reference: https://www.youtube.com/watch?v=KkzVFB3Ba_o
Code: http://codepen.io/theflametrooper/pen/BKMxxq
Things to add:

- [ ] HTML
- [ ] CSS
- [ ] JS
 - [ ] Variables
 - [ ] Animation
 - [ ] Pause and Play

I will only focus on the `javascript/jquery code` and just provide snippets to `html` and `css` as their not the focus.

[2016-05-09 10:43] abhisekp commented on #768
@theflametrooper a tiny mini explanation about HTML structure would be nice :sparkles: coz that's what jQ depends on to make the slider possible. :100:

[2016-05-09 10:48] #731 closed

[2016-05-10 18:04] Rafase282 commented on #875
#879 should have closed this one.

[2016-05-10 18:04] #875 closed

[2016-05-10 18:52] Rafase282 opened #889 "Normalize filenames and titles for the entire wiki"
While working on https://github.com/FreeCodeCamp/wiki-generator/pull/26 I came to notice that we were using filenames to generate titles fr the live wiki. This is not the direction I want to follow, instead I tried to make the wiki generator look for titles in the form of `# Title here` or `#Title here` (Note, the second one while valid github markdown, is not the proper one, we should use the fir

[2016-05-10 20:27] #866 closed

[2016-05-11 06:26] sarbbottam opened #898 "Should the wiki's be organized in respective directories?"
Currently all the `wiki` are stored in the root folder, `namespaced` with `category`. Wondering if they should be organized in respective directories.

For example; instead of `Algorithm-Binary-Agents.md`, organize it as `Algorithm/Binary-Agents.md`?

[2016-05-11 07:20] theflametrooper commented on #898
@sarbbottam This sounds like an awesome idea! Tagging @Rafase282

[2016-05-11 07:36] abhisekp commented on #898
If we do this, @camperbot needs to be adjusted to support this.

[2016-05-11 07:42] sarbbottam commented on #898
It has to be a well thought approach. Otherwise the system, depending on current structure of Wiki will break.

What benefit could it offer?
- better file organization
- easier search/selection for wiki
<img width="500" alt="screen shot 2016-05-11 at 12 38 41 am" src="https://cloud.githubusercontent.com/assets/949380/15173411/c2c4709e-1710-11e6-8f6c-5bf7c2d6edfc.png">
- may be this could result in

[2016-05-11 11:53] Rafase282 commented on #898
We are going to remove the drop down entirely https://github.com/FreeCodeCamp/wiki-generator/issues/13.

With that in mind, there is no real benefit for this change. We already have subdirectories for different languages, which should hold the entire wiki all over for that particular language.

Also, while I have been working hard to categorize articles via their filenames, not all of them have it

[2016-05-11 12:03] Rafase282 commented on #304
Has this issue been solved @hallaathrad if so, please close it.

[2016-05-11 12:03] #344 closed

[2016-05-11 12:04] Rafase282 commented on #538
The only thing left is to add the real links when they get created.

[2016-05-11 12:04] #538 closed

[2016-05-11 12:06] Rafase282 commented on #565
@raisedadead what is the current status of this? I know it was not completed when it got merged but we need to know so we can finish it or close the issue.

[2016-05-11 12:08] Rafase282 commented on #577
I'm not sure how to implement that to be honest. Is this for the live wiki or https://github.com/FreeCodeCamp/FreeCodeCamp/wiki

[2016-05-11 12:09] #744 closed

[2016-05-11 12:10] Rafase282 commented on #685
What's the status on this?

[2016-05-11 12:12] raisedadead commented on #565
@Rafase282 this has been taken up by @theflametrooper

[2016-05-11 12:15] Rafase282 commented on #565
Alright, thanks for the quick response.

[2016-05-11 12:21] Rafase282 commented on #615
What is the status on this @erictleung @Saerith ?

[2016-05-11 12:26] raisedadead commented on #889
This is a nice effort and a ton of hard work guys! You can assign me some (letter with least articles :wink: )

[2016-05-11 12:28] Rafase282 commented on #889
Feel free to pick them yourself and add your name to it. I'm going in order from Z to A. Just wanting to have my last PR merged before I work on others. The problem with this is that as we rename, some articles go to another letter so we have to be careful not to cause merge conflicts of any kind and to not leave _new_ filnes unchecked because they were rename after you finished with a section.

[2016-05-11 12:42] sarbbottam commented on #898
Not at all, you know the current system much better than I do and you are doing a great job!

But closing an issue pointing to a `contributing.md` which contradicts the current state of the file, is of no help but more confusion for the contributor 😄 I hope you could be more precise.

I understand, addressing so many concerns, gets hectic,  but it might acts as a barrier for any new contributor. M

[2016-05-11 13:01] Rafase282 commented on #898
I agree.

You are right.

This is not quite clear to me. Was it the links not working or something else? The homepage for the wiki already explains about the algorithm challenges, precisely because many people were trying to add their solutions and it was getting tedious to keep repeating why we didn't accept the PR, the reasoning and what we want instead so I put it at the very front of the wiki.

[2016-05-11 13:11] hallaathrad commented on #304
this is work in progress with @QuincyLarson. Please, ignore it @Rafase282 .

[2016-05-11 13:17] erictleung commented on #615
@Rafase282 I haven't been side-tracked with other stuff lately. I think we've covered mostly the challenges that needed to. Some don't require changes because there is no function. I can double check them over the weekend.

[2016-05-11 13:40] sarbbottam commented on #898
The `current state of the file` and the `three solution rule` are contradictory. That confused me. To be honest, I did not comprehend, till you explicitly stated the `3 solutions rule`.

[2016-05-11 14:03] Rafase282 commented on #304
Alright.

[2016-05-11 14:04] Rafase282 commented on #615
Alright, please do and let us know.

[2016-05-12 11:48] hallaathrad commented on #889
Looks great to me (ready to merge from my end), except that some articles go like free-code-camp and some go freecodecamp... is that going to be addressed later? did I miss it?

[2016-05-12 11:51] Rafase282 commented on #889
Yes, that ones without a PR number are not ready yet. I haven't done the F section yet. I'll work on the rest today unless Jonathan has them ready.

[2016-05-12 11:56] hallaathrad commented on #889
I'll wait until you've merged this before adding more cities then. Thanks for all the hard work, everyone! 💯

[2016-05-12 12:03] Rafase282 commented on #889
@hallaathrad I was hoping you would merge since it is related to campsites and I was the one to create the PR. I shouldn't merge my own.

[2016-05-12 12:52] hallaathrad commented on #889
Hahaha i missed that bit. Thought you just wanted me to ok my part. It's done now, it seems.

[2016-05-12 13:03] Rafase282 commented on #889
Yeah, thanks though. I might be able to finish this today but now you can work on the campsites without conflicts with these changes.

[2016-05-12 17:10] #812 closed

[2016-05-12 18:04] raisedadead opened #922 "Update the Typo Demo Wiki Article"
The below guide needs to be updated, because its creating confusion for new contributors.
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Contributions-Guide---with-Typo-Demo

it should be made up to date as per the latest:
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/CONTRIBUTING.md

Refer
https://gitter.im/FreeCodeCamp/HelpContributors?at=5734c414e2996a5a42c7cfdd

[2016-05-12 18:06] erictleung opened #923 "Edit instruction to add issue number to commit message"
Near the bottom of the [Contributions Guide with Typo Demo](https://github.com/FreeCodeCamp/wiki/blob/master/Contributions-Guide---with-Typo-Demo.md), in [Step #7](https://github.com/FreeCodeCamp/wiki/blob/master/Contributions-Guide---with-Typo-Demo.md#step-7-creating-pull-request) we need to remove `closes #1337` from the sample commit message.

![image](https://cloud.githubusercontent.com/assets

[2016-05-12 18:11] Rafase282 commented on #922
We have been going over all out articles, we have yet to cover the ones starting with C. However, I think that article should be removed. I took a quicj glance at both and it seems to overlap, and the title itself in confusing.

See #889

[2016-05-12 18:16] raisedadead commented on #922
@Rafase282 100% agreed. If others do not advise other wise this can go in favor of the main repo's CONTRIBUTING Guide.

[2016-05-12 18:17] raisedadead commented on #923
@erictleung Refer #922 this might be taken down.

[2016-05-12 19:32] erictleung commented on #923
@raisedadead ah I didn't see that you made that issue. I'll close this in favor of that one.

[2016-05-12 19:32] #923 closed

[2016-05-12 21:04] abhisekp opened #925 "Asking for help, makes the bot angry"
Using the **`help`** or **`bot`** commands, the emoji in the markdown doesn't render properly due to the image markdown that follows it in the line.

See the screenshot below

**Solution:** Remove the emoji **`:speech_balloon:`** from the article

This is a markdown bug which `wontfix` so better to remove the emoji :speech_balloon:

**File to be Modified:** [**camperbot.md** (wiki)](https://github

[2016-05-12 21:22] abhisekp opened #926 "Symbol 2BAD doesn't render"
The symbol in http://unicode-table.com/en/2BAD/ doesn't render properly in many OSes by default such as Windows 10 and Mac OSX.

**Solution:-**
Replace that symbol from the following files

- [**camperbot.md** (wiki)](https://github.com/FreeCodeCamp/wiki/blob/master/camperbot.md)
- [**Help-Rooms.md** (wiki)](https://github.com/FreeCodeCamp/wiki/blob/master/Help-Rooms.md)

with the symbol in http:/

[2016-05-12 21:25] abhisekp commented on #926
The issue in https://github.com/FreeCodeCamp/wiki/issues/925 might also be fixed simultaneously with this one :smile:

[2016-05-12 21:42] abhisekp commented on #925
The issue in https://github.com/FreeCodeCamp/wiki/issues/926 might also be fixed simultaneously with this one :smile:

[2016-05-12 23:24] Rafase282 commented on #925
If No one fixes this by the time I get to the C articles I'll fix it.

[2016-05-12 23:26] Rafase282 commented on #926
If no one fixes this by the time I get to the H or C articles I'll fix it.
The H articles are next after https://github.com/FreeCodeCamp/wiki/pull/924 is merged.

[2016-05-13 05:33] meetmangukiya commented on #926
Can I fix this?

[2016-05-13 05:50] meetmangukiya commented on #926
Sorry for the previous comment , I was not able to fix this

[2016-05-13 07:06] #925 closed

[2016-05-13 09:08] abhisekp commented on #926
@meetmangukiya no issues. May I know what was the issue while solving this?
&nbsp;
<br>
<br>

<p align="center">Need Help? Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>or Chat with us in <kbd><a href="https://gitter.im/FreeCodeCamp/Wiki"><img src="http://i.imgur.com/ThSWa6Y.png?2"> <b>FreeCodeCamp/Wiki</b></a></kbd></

[2016-05-13 10:06] meetmangukiya commented on #926
@abhisekp everything.. I don't know how you add such symbols in markdown and seriously I didn't search in Google either. I had like half an hour free.. Most of the time took me figuring out how to sync my fork :P . #925 was way too easy to even take a minute. In HTML it is just &blah; I'll have to see for markdown.. I think now am not a first timer and now this issue ain't for me :(

[2016-05-13 10:21] meetmangukiya commented on #509
I can do `imports` `pip` `from x import y`

[2016-05-13 10:22] meetmangukiya commented on #819
I don't see `exit()`

[2016-05-13 11:28] #922 closed

[2016-05-13 11:45] theflametrooper opened #930 "Add syntax highlighting to Challenge Articles"
This issue seems to only appear on the `HTML` and `CSS` Challenge Articles.

Example: https://github.com/FreeCodeCamp/wiki/blob/master/Challenge-Create-Bootstrap-Wells.md

[2016-05-13 15:00] alayek commented on #819
@meetmangukiya it's not mentioned [here](https://docs.python.org/3/library/functions.html) as a built-in function.

[2016-05-13 15:10] akarshHegde commented on #926
Hey, i have sent a PR to fix page help-rooms.md . Could you review and provide feedback?

[2016-05-13 17:22] #926 closed

[2016-05-13 17:38] #930 closed

[2016-05-13 17:42] #818 closed

[2016-05-13 18:29] meetmangukiya commented on #608
Won't the linters be specific to the text editor?

[2016-05-14 08:01] theflametrooper commented on #606
Closing. This article was created in #728.

[2016-05-14 08:01] #606 closed

[2016-05-14 13:38] akarshHegde commented on #829
Hey @theflametrooper i would like to work on this. Could you refer me some existing article to get an idea how the article should be framed ?

[2016-05-15 01:00] #889 closed

[2016-05-15 01:25] Rafase282 commented on #898
So, now I'm back to this topic. I'm in favor of the proposal of using directories for categories. Open for opinions and suggestions.

[2016-05-15 05:51] Rafase282 commented on #829
@akarshHegde I think it would be something like [this](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/CSS).

[2016-05-15 07:06] abhisekp commented on #898
@camperbot must be made compatible with this change first.

[2016-05-15 07:17] abhisekp commented on #608
@meetmangukiya linters are independent of text editor and are used for checking the source format and syntax.

[2016-05-15 15:10] Gouravchawla commented on #819
I'm interested. Made my first pull request to the wiki, #962

[2016-05-15 15:47] ilovejava1988 commented on #534
I would like to take up abstract classes.

[2016-05-15 18:12] Rafase282 commented on #898
Moving this here :point_right: : [May 15, 2016 2:58 AM](https://gitter.im/FreeCodeCamp/CoreTeam?at=57381e0364dbdadc7dec2d8c)

[2016-05-15 18:14] Rafase282 commented on #898
@abhisekp after the 16, can you work on camperbot? making sure it works with the current names and style and that it will support this?

I'll have to work on the wiki generator to make sure it supports this change after we take care of the actual wiki and camperbot.

[2016-05-15 18:19] Rafase282 opened #963 "[Priority] Normalize all Algorithm Articles"
Free Code Camp wants to make it so when you are on an algorithm challenge and the camper opens the live wiki from the page, it will directly point to the opened algorithm article for all supported spoken languages.

Hence, to ensure that our valuable translators do not have to work twice, we need to start actively **implementing the new templates on all of the algorithm solution** articles as soon

[2016-05-17 04:59] Rafase282 opened #968 "Articles to Split"
These articles are very long and should be split into smaller interlinked articles.

- [x] [Sass](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/SASS)
- [x] [Setting up a React, ES6 and Webpack project](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Setting-Up-A-React-ES6-Webpack-Project)
- [x] [Install Django Flask](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Install-Django-Flask)

[2016-05-17 06:06] Rafase282 commented on #662
@CaroleAnneHannon I'm sure you will feel at home with these if you have the time and interest.

[2016-05-17 16:12] Rafase282 commented on #898
I tried it on my own wiki and I like it.

![My Wiki](http://i.imgur.com/mOayrdk.png)

Looks organized, things are easier to find and so on. The regular wiki works regardless. I will have to check how it would affect the generator.

[2016-05-17 16:39] raisedadead commented on #898
@Rafase282 :shipit:

[2016-05-18 01:17] meetmangukiya commented on #509
@alayek please enter this to the modules related list `import x as y` or `from x import y as z`

[2016-05-18 01:32] julianbetancourt opened #975 "Wrong content for "Algorithm Validate US Telephone Numbers""
I noticed there are two articles for "Algorithm Validate US Telephone Numbers", one of them shows the correct content while the other doesn't.
http://imgur.com/k1qmLym

[2016-05-18 15:30] Gouravchawla commented on #819
@alayek Could you link the Id function article here too? #962

[2016-05-18 15:47] #968 closed

[2016-05-18 17:06] abhisekp commented on #898
@Rafase282 looks awesome and perfect and organized and great. :sparkles:
I will see how to make the camperbot work with it. :+1:

Can you please push it on a branch in the main wiki or maybe in your fork?

[2016-05-18 17:11] Rafase282 commented on #898
@abhisekp it is on [this](https://github.com/Rafase282/MyFCCWiki) repo. Not for FCC. I haven't done it on it. Just wanted to try it on my end and see if I liked it and how links would change but links didnt change on the wiki.

[2016-05-18 17:17] Rafase282 commented on #819
@alayek @Gouravchawla I added python id in #978

[2016-05-19 00:13] #975 closed

[2016-05-19 04:40] #874 closed

[2016-05-19 05:25] raisedadead opened #984 "City listed in wrong state : 'Noida' is in 'Uttar Pradesh'"
From FreeCodeCamp/FreeCodeCamp#8714

![image](https://cloud.githubusercontent.com/assets/14236753/15383257/5d599e78-1daf-11e6-929c-a753ab63ed48.png)

[2016-05-19 05:58] #291 closed

[2016-05-19 05:59] Rafase282 commented on #289
They already do.

[2016-05-19 05:59] #289 closed

[2016-05-19 15:24] #984 closed

[2016-05-19 16:35] raisedadead commented on #984
@raisedadead does a *facepalm*!

[2016-05-19 18:26] meetmangukiya opened #990 "Articles on how to use electron Framework to create cross platform GUI apps using electron framework"
[Electron](electron.atom.io) is in its developing stage. If you have used atom, then it is an example of electron based app. Most significant feature is it's ability to create GUI apps using web technologies like HTML , CSS, JavaScript, CoffeeScript

[2016-05-19 22:17] AakanxuShah commented on #534
@trishulpani  : If you are not doing Constructors , can I write an article about it ?

[2016-05-20 14:50] trishulpani commented on #534
@AakanxuShah - Apologies for the late reply. I have updated the article for Java-Constructors. Please take a look and feel free to add to it. Thanks!

[2016-05-21 04:05] gwenf commented on #510
Hey, I am going to write something on arrays and hashes too.

[2016-05-21 06:44] arturtr commented on #510
Good tutorial about installing rails on Mac or Ubuntu
https://gorails.com/setup

As I now, windows user need to use it: http://railsinstaller.org/en

[2016-05-21 19:11] Insanitariume commented on #510
Sup, may I suggest adding those to the roadmap?

- Ruby Interpreter and irb
- Ruby's reserved words (as in Keywords, predefined global variables & constants)
- Ranges
- Symbols
- Conditional statements
- Loops and iterators
- Date & Time formatting
- RubyGems

And maybe even (depends on how far you want to take Ruby in the wiki):

- Closures (Blocks, Procs...)
- Errors & Exception handling
- Rake

[2016-05-21 20:33] alayek commented on #510
@Insanitariume sure, we would definitely want to add these! However, I need to decide exactly where. I am not proficient in Ruby, so you would have to help me out putting them in the right place.

You can talk to me or any moderator regarding this in the our [gitter room](https://gitter.im/FreeCodeCamp/Wiki).

[2016-05-22 03:10] #565 closed

[2016-05-22 03:16] erictleung commented on #615
@Rafase282 I just went through the unchecked ones. Looks like everything has been updated with new function names so I'm closing this issue.

[2016-05-22 03:16] #615 closed

[2016-05-22 03:34] Rafase282 commented on #615
Awesome, thanks.

[2016-05-22 04:57] erictleung opened #1009 "Create Article: Logical Order in If Else Statements"
The [Logical Order in If Else Statements challenge](https://www.freecodecamp.com/challenges/logical-order-in-if-else-statements) has no Wiki article and should have one.

&nbsp;
<br>
<br>

<p align="center">Need Help? Read <a href="https://github.com/FreeCodeCamp/wiki/blob/master/.github/CONTRIBUTING.md"><b>CONTRIBUTING</b></a> Guidelines<br>or Chat with us in <kbd><a href="https://gitter.im/FreeC

[2016-05-22 16:08] #641 closed

[2016-05-23 00:54] varunu28 commented on #1009
Hi @erictleung  I would like to work on this. I will come up with an article in next 1 day. Please assign this to me.

[2016-05-23 00:58] erictleung commented on #1009
@varunu28 go for it! You don't need to be assigned to work on it. Just pick it up and make a PR when you've finished it. Just an fyi, I don't have write access to the Wiki so you'll need someone else merge your PR when you're done :smile: Good luck!

[2016-05-23 01:14] varunu28 commented on #1009
@erictleung Ok. Just to be sure. We need to create a wiki article explaining the flow of if-else statements ie IF-ELSEIF-ELSE
Correct?

[2016-05-23 01:25] erictleung commented on #1009
@varunu28 yes, I would checkout [the challenge itself](https://www.freecodecamp.com/challenges/logical-order-in-if-else-statements) and maybe explain the example they give.

I would also take a look at the Wiki articles around it to get a sense of what and how much to add.

- https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Challenge-Comparisons-With-The-Logical-And-Operator
- https://github.com/

[2016-05-23 01:46] varunu28 commented on #1009
Thanks @erictleung . I would start working on it and make a PR by tomorrow.

[2016-05-23 16:42] abhisekp commented on #1009
@varunu28 Thank you for your interest :tada:

You've been assigned. See https://github.com/FreeCodeCamp/wiki/issues/1009#issue-156135000 (*issue message*)

[2016-05-23 22:24] RyanMarten opened #1016 "3 Broken Links on Front Page of Wiki"
On [this ](https://www.freecodecamp.com/wiki/en/) page clicking on the words "CodeBot" "Template" or "Wiki Central" brings you to a missing github link.

[2016-05-23 22:33] Rafase282 commented on #1016
Thank you, We are aware of that and we are working on a solution.

[2016-05-24 04:22] varunu28 commented on #819
@alayek I want to start contributing to this. Can you please help me with a few existing articles which can be used as samples? Thanks

[2016-05-24 06:40] abhisekp opened #1020 "Change EOL to LF"
These files are committed with `CRLF` EOL. They should be committed with `LF`.

**Affected Files:-**
[code]

[2016-05-24 09:34] alayek commented on #819
hi @varunu28, please check the pull requests linked to completed articles. You can also ask for help in the Wiki chat room.

[2016-05-24 12:57] #1009 closed

[2016-05-24 14:13] meetmangukiya commented on #509
@alayek is this list up-to-date?

[2016-05-24 14:18] meetmangukiya opened #1022 "Improve `Python-Decorators` article"
Just providing the links isn't that useful. Campers would get those links from Google too. Enclosing it just in an article doesn't seem to be that of a help! I got no knowledge about `decorators` otherwise I'd have raised a PR already.

[2016-05-24 14:20] meetmangukiya commented on #1022
Actually I was looking for the wiki article to understand the `decorators` part. :sweat_smile:

[2016-05-24 15:56] erictleung commented on #1022
Easy access to [article-in-need](https://github.com/FreeCodeCamp/wiki/blob/master/Python-Functions-Decorators.md) for anyone wanting to fix this. I've always heard of these things too but never quite understood them too.

[2016-05-24 17:06] meetmangukiya commented on #1022
@erictleung Which things you talking about

Decorators?  :confused:

[2016-05-24 17:14] erictleung commented on #1022
Haha sorry, yeah I was referring to decorators :)

[2016-05-24 17:27] meetmangukiya commented on #1022
Ohh. cool :+1:

On Tue, May 24, 2016 at 10:52 PM, Eric Leung <notifications@github.com>
wrote:

[2016-05-24 21:09] abhisekp commented on #1020
Resolved in #1027

[2016-05-24 21:09] #1020 closed

[2016-05-25 00:36] varunu28 commented on #819
@alayek  I have made a pull request (#1029) for this. Please check

[2016-05-25 05:19] koustuvsinha commented on #534
hey @ilovejava1988 ! are you still up for taking abstract classes? :) Please send us a PR. If you have any doubts, talk with us in our [Gitter channel](https://gitter.im/FreeCodeCamp/Wiki)

[2016-05-26 07:35] atjonathan commented on #364
The only issue that still needs addressed is: `On the full-page version the address bar/url does not change when changing pages`.

[2016-05-27 09:10] ds-249 opened #1044 "How about we write articles about different Data Structures as well?"

[2016-05-27 09:19] alayek commented on #1044
Notwithstanding the fact that this would be a massive undertaking in itself, we have to use some statically typed, object oriented language for the code examples.

Our Wiki articles, at present, are mostly on JavaScript. I don't know of many material that would discuss even basic Stacks or Queues in JS.

We are, however, planning to add languages like Python or Java in our curriculum, and it is ex

[2016-05-27 09:21] ds-249 commented on #1044
I code in python2, if that's okay, I can start right up. :)

[2016-05-27 09:24] alayek commented on #1044
@ds-249 that's cool! We are currently planning to support only Python 3 for now, so you raise the PRs in Python 2, and we would recommend changes and tweaks for Python 3.

You can discuss this more with us in our [chatroom](https://gitter.im/FreeCodeCamp/Wiki)

[2016-05-27 09:51] abhisekp commented on #1044
This might be helpful for this initiative :point_right: http://rosettacode.org/wiki/Category:Programming_Tasks

[2016-05-27 09:56] alayek commented on #1044
Udacity has recently launched a course titled "Technical Interviews" which covers some of these topics in Python.

[2016-05-27 10:06] varunu28 commented on #1044
@alayek  I code in Python 3 and would like to get started on this. We can also add up few algorithms which get frequently asked in interviews.

[2016-05-27 10:09] alayek commented on #1044
@varunu28 for algorithms, I am under the impression you are talking about the sorting ones, median finding, string matching etc. (I am not including the ones that would be associated with a DS). Is that the case?

We have some Algorithm articles, but those are more for our internal in-browser challenges, and less for what an Algo course in college would cover. Sure, we could absolutely do that!

I

[2016-05-27 10:11] varunu28 commented on #1044
@alayek Yeah I am talking about those and also like the ones for which you mentioned Udacity course.
Still we can keep this for future. I would get started on this.

[2016-05-27 10:15] alayek commented on #1044
@varunu28 please join our [chatroom](https://gitter.im/FreeCodeCamp/Wiki) to discuss this in detail.

[2016-05-27 10:42] varunu28 commented on #1044
@alayek @ds-249
Can we have a basic mock-up design of what the articles need to cover and what should be the format for it?

[2016-05-27 10:45] ds-249 commented on #1044
@varunu28  I am following something like this

# Hash Tables and Hashing Functions

## Introduction to hashing

Hashing is designed to solve the problem of needing to efficiently find or store an item in a collection.
For example, if we have a list of 10,000 words of English and we want to check if a given word is in the list, it would be inefficient to successively compare the word with all 10,00

[2016-05-27 10:52] varunu28 commented on #1044
@ds-249 What exactly are we looking to put in "What is" and "How" part?
Will it be just the theory or also the implementation?

[2016-05-27 10:57] ds-249 commented on #1044
@varunu28  I'll add another heading for Implementation in programs, where I'll add code snippets of python and java in it.

[2016-05-27 11:00] varunu28 commented on #1044
ok. Do we need to add in both in Python and Java?

[2016-05-27 11:01] varunu28 commented on #1044
I am starting with Arrays for this

[2016-05-27 11:24] alayek commented on #1044
@varunu28 ideally we would want a separate implementation section, and subsection with Python and another subsection with Java.

[2016-05-27 12:44] Rafase282 commented on #1044
Adding a label to categorize these will be helpful @alayek particularly for when we move all articles into sub directories for organization in the near future hopefully.

[2016-05-27 13:11] jainaman224 commented on #1044
# Linked list

 Linked list is a linear collection of data elements, called nodes pointing to the next node by means of a pointer. It is a data structure consisting of a group of nodes which together represent a sequence. It contains data and links to the next node (sometimes to previous nodes too) in the sequence.

**Types:**

1. Singly Linked List

    Singly linked lists contain nodes which hav

[2016-05-27 13:43] alayek opened #1048 "Create Articles on Algorithms"
[Note: Not to confuse with our algorithm challenges in JavaScript]

We need solid articles on following Algorithm-related topics:

- [ ] Sorting
     - [ ] In-place sorting
     - [ ] In-order sorting
     - [ ] Bubblesort
     - [ ] Selection Sort
     - [ ] Insertion Sort
     - [ ] Merge Sort
     - [ ] Heap Sort
     - [ ] Quicksort
- [ ] Divide and Conquer
- [ ] Greedy Algorithms
- [ ] Dynami

[2016-05-27 13:44] alayek commented on #1048
@varunu28 do you think we should add Big-O notation under this epic?

[2016-05-27 14:12] varunu28 commented on #1048
@alayek  I think we should remove the Big-O notation article from DS and put it under here. There  would be a topic in the starting where the Big-O notation would be explained and then for every algorithm article we would have a small topic where we would explain Big-O notation for that algorithm.

[2016-05-27 14:19] varunu28 commented on #1048
@alayek In the above issue what algorithms do we need to mention under in-place sorting and in-order sorting as algorithms like heap sort and quick sort are considered as in-place algorithms?
Do we need to just explain what is meant by in-place and in-order sorting?

[2016-05-27 16:18] atjonathan opened #1050 "Fix link on Home.md"
On [Home.md](https://github.com/FreeCodeCamp/wiki/blob/master/Home.md) the link to **Wiki Central** needs changed.
Because we recently switched all our links to lowercase, **Wiki Central** is linking to http://freecodecamp.github.io/wiki/en/Wiki-Central/ instead of http://freecodecamp.github.io/wiki/en/wiki-central/.
Is the wiki generator not fixing the lowercase issue for Home.md?
Tagging @Rafase

[2016-05-27 17:56] Rafase282 commented on #1050
The Links remain the same, the generator is the one that makes it lowercase for use.

[2016-05-27 18:02] atjonathan commented on #1050
@Rafase282 Looks like the generator isn't running for `Home.md`?

[2016-05-27 18:02] atjonathan commented on #1050
@Rafase282 Looks like the generator isn't running for `Home.md`?

[2016-05-27 18:19] Rafase282 commented on #1050
Check on the live version, if I remember correctly I got it running last
time I made changes. I'll take a look when I get back.

On Fri, May 27, 2016, 2:02 PM Jonathan <notifications@github.com> wrote:

--
Kind Regards,

Rafael Rodríguez
Junior Web Developer
https://rafase282.github.io/

[2016-05-27 19:39] ilovejava1988 commented on #534
Hi @koustuvsinha Yup i am working on it.i will be sending the PR in a day.

[2016-05-27 21:44] #597 closed

[2016-05-28 07:45] trishulpani commented on #534
Hi @ilovejava1988 / @koustuvsinha  , I had started work on Abstract classes. If you are not already done with the article, maybe you can take a look at [Java Abstract Classes](https://github.com/trishulpani/wiki/blob/master/Java-Abstract-Classes.md). Let me know if you want me to leave it as it is or create a PR.

[2016-05-28 13:31] atjonathan commented on #829
@akarshHegde Update on this? If you are working on an article, which one?

[2016-05-29 09:04] varunu28 commented on #1048
@alayek I want to get started with the bubble sort. Please assign that to me.

[2016-05-29 09:07] varunu28 commented on #1044
@alayek  I want to get started with stacks. Please assign that to me.

[2016-05-29 09:46] alayek commented on #1048
@varunu28 yes, you need to clearly mention what is meant by those terms, and explain with examples, why the examples satisfy those terms.

Assigned.

[2016-05-29 12:18] jainaman224 commented on #1048
Please assign me insertion sort.

[2016-05-29 12:23] alayek commented on #1048
ok. done @jainaman224

[2016-05-29 13:05] jainaman224 opened #1057 "Image for Insertion sort"
![insertionsort](https://cloud.githubusercontent.com/assets/13117482/15633518/04ca4468-25cc-11e6-96af-feb395b456e0.png)

[2016-05-29 13:05] #1057 closed

[2016-05-29 13:25] Ierofantis opened #1058 "Heroku problem"
There is a problem for anybody who hasn't got a credid card because he can't deploy more than five projects.

[2016-05-29 18:14] alayek commented on #1058
Yes, unfortunately 5 is the heroku limit _per account_ for free hosting. You might want to take this up with [Heroku people.](https://www.heroku.com/contact).

[2016-05-29 18:14] #1058 closed

[2016-05-30 09:56] jainaman224 commented on #1048
Can you please see #1056 for insertion sort.

[2016-05-30 23:27] atjonathan opened #1067 "Create Article: Hikes Contributing Guide"
This should include details on:
- Scripting
- Recording
- Editing
- Uploading

Probably more, i'm still not certain on the current workflow of hikes :stuck_out_tongue_closed_eyes:

cc/ @FreeCodeCamp/hikes @Septimus @brianamarie

[2016-05-30 23:32] brianamarie commented on #1067
Starting point -

## Hike Contributing Workflow

#### Preparation
- [ ] Check out these resources to get ready
  - [ ] [Article with general guidelines](https://medium.freecodecamp.com/let-s-go-for-a-hike-here-s-your-map-4301df6e3801#.f91m4eq85)
  - [ ] [Video challenge chat](https://gitter.im/FreeCodeCamp/hikes)
  - [ ] [Hike repository](https://github.com/FreeCodeCamp/hikes)
- [ ] Pick a topic b

[2016-05-30 23:34] brianamarie commented on #1067
I would love to fill out the above example with more specific guidelines, especially on items not currently documented like [how to add videos to JSON and adding overlays to thumbnails](https://github.com/FreeCodeCamp/hikes/issues/185).

[2016-05-31 05:45] QuincyLarson opened #1068 "Build beginner-accessible JavaScript reference articles"
This is a list of the MDN's JavaScript articles. It's clear that they are [not sufficiently accessible](http://forum.freecodecamp.com/t/anyone-else-think-mdn-code-descriptions-samples-suck/5784/10) to beginner developers. Our goal is to [create wiki articles](https://medium.freecodecamp.com/how-to-land-your-first-open-source-contribution-from-your-browser-in-15-minutes-756d9bbf81ad#.x38yqjr02) tha

[2016-05-31 07:22] atjonathan commented on #1068
@Rafase282, Before creating these articles, we need to come up with a template and layout.

[2016-05-31 13:09] Rafase282 commented on #1068
We could use [this](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Wiki-Template-JavaScript)

[2016-05-31 14:10] Ierofantis commented on #1058
Maybe It would be a good idea for anyone he wants to use some alternatives like : https://alternativeto.net/software/heroku/

[2016-05-31 15:16] atjonathan commented on #1058
Refer FreeCodeCamp/FreeCodeCamp#8773

[2016-05-31 16:23] varunu28 commented on #1048
@alayek I am done with BubbleSort. I will start with selection sort. Please assign that to me

[2016-05-31 16:25] atjonathan commented on #1048
@varunu28, added you!

[2016-06-01 07:48] QuincyLarson commented on #1068
@Rafase282 @atjonathan glad you two jumped on this issue so quickly. I created this because of this thread: http://forum.freecodecamp.com/t/anyone-else-think-mdn-code-descriptions-samples-suck/5784

If you see any articles that already exist, could you check them off on this issue?

[2016-06-01 14:35] dogwaddle commented on #1068
@QuincyLarson so I'm a little confused now, on what the confusion is about. I thought the issue was with the linked articles in the[ alogirthm challenges](https://www.freecodecamp.com/challenges/reverse-a-string)? When I looked at this list, I didn't see the Built In Objects, which made go over and look for them on the wiki. I found the String.prototype.split() and it looked like it was just a par

[2016-06-01 14:39] dogwaddle commented on #1068
I also sent Chris Mills from MDN an email last night, to see if there is anyway I could go about this(template wise and all) that would be beneficial to both FCC and MDN. He is on vacation until next Wednesday though.

[2016-06-02 01:00] kmcmcurtis7 commented on #1068
I'm still relatively green in javascript.  I just haven't used it enough yet, but understand it enough to explain to newbies and I TA'd at a local Intro to Javascript class with Girl Develop It.  I like @Rafase282 template, very simple.

I would love to help, just let me know what you come up with even if we are just taking MDN and parsing it down more.  Thanks!

[2016-06-02 11:06] alayek commented on #1068
@kmcmcurtis7 we can talk more about this at our [Wiki chat room](https://gitter.im/FreeCodeCamp/Wiki). Feel free to drop by there, if you haven't already.

[2016-06-02 17:06] #608 closed

[2016-06-02 17:13] Rafase282 commented on #1068
[Strict Mode](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/JS-Strict-Mode) we already have it.

[2016-06-02 17:53] raisedadead opened #1080 "Article request for making your C9.io repo private."
Refer discussion on https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8854 and come up with a wiki article explaining steps to make a repo private on C9.

[2016-06-02 17:54] raisedadead commented on #1080
This may be referred and used in the challenges early on to guide users of risks and also in upcoming planed challenges in FreeCodeCamp/FreeCodeCamp#6669

[2016-06-02 18:52] angregor commented on #1048
I can start working on MergeSort, please assign that to me. Also are we still in need of a page on Big-O notation? If so, I'll work on that as opposed to MergeSort.

[2016-06-02 19:05] angregor commented on #1048
@atjonathan I believe MergeSort has already been pushed so it can probably be removed unless the current article isn't sufficient. Also, I'm going to begin working on an article for Big-O notation so please assign that one to me.

[2016-06-02 19:34] atjonathan commented on #1048
@angregor, thanks!

[2016-06-02 22:10] alayek commented on #1048
@angregor thanks for pointing out. That article requires some updating and modification with more code examples in Python/Java/C++.

We will update the existing one.

[2016-06-03 16:55] sludge256 opened #1083 "Fix link in Gitter-Moderation-Policy.md"
The current link in the boilerplate message (step 2) points to:
http://www.freecodecamp.com/FreeCodeCamp-Code-Of-Conduct

but the actual page is at:
https://www.freecodecamp.com/code-of-conduct

[2016-06-05 23:02] tianz commented on #1083
Hey I would like to work on this one. I have made two pull requests to FreeCodeCamp but this is my first time working on the wiki. I am wondering if I should follow the same steps? (e.g. create a branch, commit to my own repo, and then send a pull request?

[2016-06-05 23:41] #1083 closed

[2016-06-07 19:04] Rafase282 opened #1094 "Update All Algorithms Challenges"
# What we need:

We need all articles to follow this [template](https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Wiki-Template-Challenge-Solution).

## What to watch out for:
There should be no more than three solutions, per challenge, we have to make sure that we provide explanations, and resources via links, either articles about built in functions that would be needed, algorithms, or anything

[2016-06-07 20:28] glgirl28 opened #1096 "JS Functions page is missing content"
There is no content on this wiki page: https://github.com/freecodecamp/freecodecamp/wiki/JS-Functions

There is only the word "Stub" on the page:

[2016-06-07 20:55] Rafase282 commented on #1096
Yes I'm aware of that, we haven't got around it yet, but given the massive
issue about is functions we are planing to add, I'm sure that will be
updated. However, if you would like to add content to it, feel free to send
a pull request, thanks.

On Tue, Jun 7, 2016, 4:28 PM glgirl28 <notifications@github.com> wrote:

--
Kind Regards,

Rafael Rodríguez
Junior Web Developer
https://rafase282.github.

[2016-06-08 22:32] atjonathan commented on #577
This is fixed when you type:
`java` with a space after
on https://www.freecodecamp.com/wiki/en/. We don't need to worry about https://github.com/FreeCodeCamp/FreeCodeCamp/wiki yet, because we are retiring that soon.

[2016-06-08 23:27] #577 closed

[2016-06-09 01:42] erictleung commented on #1022
@atjonathan this issue looks resolved with #1037, unless it still needs work.

[2016-06-09 07:11] atjonathan commented on #1022
Thanks @erictleung :sparkles:, yeh this has been resolved.

[2016-06-09 07:11] #1022 closed

[2016-06-10 03:37] daniel-chung commented on #1068
I took a crack at the assignment operator article and just opened a PR #1109. Please provide feedback and improvement suggestions!

[2016-06-12 11:28] dakshshah96 commented on #1094
@Rafase282 I'd like to be assigned on the algorithm challenge — Finder's Keepers. Thanks!

[2016-06-12 13:50] Rafase282 commented on #1094
@dakshshah96 it is yours now.

[2016-06-12 20:18] dakshshah96 commented on #1094
Pull request #1122 open for Finder's Keepers. I'd like to be assigned to — Repeat a String and Sum All Primes. Cheers!

[2016-06-13 01:07] Rafase282 commented on #1094
@dakshshah96 I got you.

[2016-06-13 10:38] dakshshah96 commented on #1094
Created PR #1124 for Repeat a String.

[2016-06-13 12:33] dakshshah96 commented on #1094
Created PR #1125 for Sum All Primes.

@Rafase282 I'd like to be assigned to:
* Sum All Numbers in Range
* Sum All Odd Fibonacci Numbers
* Title Case a Sentence

[2016-06-13 12:49] dakshshah96 commented on #662
I have a pretty strong idea about DDL Basics as well as DML Basics. Can I work on those? An example template would be great to know what the format of the page should be.

[2016-06-13 22:19] dakshshah96 commented on #1094
Please assign me to:
* Pig Latin
* Search and Replace

[2016-06-14 19:23] dakshshah96 commented on #1094
Please assign me to the following if you can:
* Smallest Common Multiple
* Slasher Flicker
* Friendly Date Ranges
* Sorted Union

[2016-06-14 21:02] atjonathan commented on #1050
@Rafase282, this appears to still be an issue.

[2016-06-14 21:09] atjonathan commented on #963
Closing in favour of #1094

[2016-06-14 21:09] #963 closed

[2016-06-14 21:18] atjonathan opened #1144 "Javascript articles tidy-up"
**What needs changed:**

- [x] There is no main "Javascript.md" article.
- [x] We need to convert the remaining "Javascript-" articles to "JS-".

I'll get this implemented today. I'll also generally check filenames and consistency between articles.

[2016-06-14 21:29] Rafase282 commented on #1050
This and all similar related issues as tied to the race condition on the wiki generator.
I do not want to just change the links to hard links on that page. If we were to do that, we should do it for all links,a nd use html while we are at it. Which is why we need to work on https://github.com/FreeCodeCamp/wiki-generator/issues/58

[2016-06-15 10:07] alayek commented on #662
Hey @dakshshah96 sure! Pick whichever you would like and raise PR. If you need help, drop by our [Wiki Room](https://gitter.im/FreeCodeCamp/Wiki).

As for sample template, I am not sure. I had a talk with @CaroleAnneHannon earlier, and she said that we might want to provide some seed data at the beginning of the article (or articles, and refer to them in each article) so that users can run their D

[2016-06-15 21:18] #768 closed

[2016-06-16 12:16] CruiseDevice commented on #1096
Does this page intended to have information about JavaScript Functions.

[2016-06-16 17:40] #1144 closed

[2016-06-16 22:12] gwenf commented on #510
I am writing something about Ruby Interpreter and IRB as well as Symbols.

[2016-06-16 22:18] dakshshah96 commented on #1094
Hey @Rafase282! Just noticed you haven't marked Slasher Flicker as completed in the checklist. And, isn't the name supposed to be Slasher Flick? The PR is #1150

[2016-06-16 22:21] Rafase282 commented on #1094
@dakshshah96 thanks for pointing that out, renamed and added the PR as marked and with the right number.

[2016-06-17 12:24] dakshshah96 commented on #1094
@Rafase282, please assign me to the following:
* Missing Letters
* Spinal Tap Case
* Map The Debris

Cheers!

[2016-06-19 13:16] dakshshah96 commented on #1094
@Rafase282, assign me to the following if possible:
* Pairwise
* Symmetric Difference
* No Repeats Please
Cheers!

[2016-06-20 06:43] alayek commented on #510
Hey @gwenf sure! When you are ready, please raise a PR :blush:

[2016-06-20 13:09] raisedadead opened #1165 "Add how FCC stores challenges in Browser"
Need a wiki or a FAQ to address https://github.com/FreeCodeCamp/FreeCodeCamp/issues/8950#issuecomment-223788609

[2016-06-21 08:49] dakshshah96 commented on #1094
@Rafase282 One more to go! Assign me to **Inventory Update** please.

[2016-06-21 19:09] Rafase282 commented on #1094
Great work everyone, now we still need to do the checkpoint ones.

[2016-06-21 19:40] atjonathan commented on #1094
@Rafase282, is there any point now that we're moving to the forum :question:

[2016-06-21 19:40] atjonathan commented on #1094
Thanks @dakshshah96 for your work on this :tada:, it's greatly appreciated :smile:

[2016-06-21 19:55] Rafase282 commented on #1094
Well they will have this format, I just forgot at the time.

[2016-06-22 06:44] booleanhunter commented on #594
@abhisekp I have an article on Medium, can I post that here?

[2016-06-22 07:28] atjonathan commented on #594
@booleanhunter, sure feel free to share :smile:

[2016-06-22 09:20] booleanhunter commented on #594
Thank you - here it is! https://medium.com/@booleanhunter/webpack-for-the-fast-and-the-furious-bf8d3746adbd#.rhbkyeli1

[2016-06-22 09:25] awesomeaniruddh commented on #594
@abhisekp I disagree with using webpack when time is short :P

[2016-06-22 10:34] atjonathan commented on #594
@booleanhunter, would you mind converting this into a markdown wiki article? It's a great article by the way :smiley:

[2016-06-22 11:01] booleanhunter commented on #594
Oh - I'll try doing that! :)

[2016-06-22 19:48] dakshshah96 commented on #1048
Kindly update the list with #1172 for Binary Search.

[2016-06-24 20:17] dlwebdev commented on #765
Can I create this Angular2 tutorial? How basic? A simple component that displays text or a basic CRUD app such as the superheroes example that https://angular.io/docs/ts/latest/tutorial/ uses?

[2016-06-24 21:39] alayek commented on #765
Hi @dlwebdev, thanks for your interest. Yes, sure!

Please create an article. But we would prefer it _did_ something. Rather than display *some hello world text*.

CRUD seems like a good coverage. But we are also not looking for something as extensive as a To-Do App.

---

You can simply start small. Show how to set up an Angular 2 seed project with TypeScript and all. Create a plunkr. Then, try t

[2016-06-25 16:32] dlwebdev commented on #765
Feel free to criticize this in any way you'd like! My feelings won't get hurt.

I'd like to create a bit more in depth article about Angular 2 as well as one demonstrating a CRUD application. I think this one is a great start though. It links to two different plunkers. The first is a basic app that just displays some text. The second build upon the first and adds a button that shows clicks. It sim

[2016-06-27 15:24] #765 closed

[2016-06-27 17:18] Rafase282 commented on #1094
Thank you everyone who worked on these, specially @dakshshah96

[2016-06-27 17:18] #1094 closed

[2016-06-27 18:03] Rafase282 commented on #1096
It was supposed to, that is old. We do have the JavaScript page where most functions are listed but feel free to populate content for this one.

[2016-06-28 10:55] ChaituVR opened #1190 "Wiki Titles are Repeating"
Some of the Wikis in wiki search looks like this (Repeating)
![image](https://cloud.githubusercontent.com/assets/15967809/16413049/3e2f3180-3d4d-11e6-9032-c288ffb21f94.png)
and then i found that some Wikis are having wrong Headings like "Algorithm Factorialize A Number" for "Algorithm Falsy Bouncer"
![image](https://cloud.githubusercontent.com/assets/15967809/16413117/954513d6-3d4d-11e6-893c-4e002

[2016-06-28 19:32] raisedadead opened #1191 "Algorithm Wherefore Art Thou - Solution needs to be updated."
Refer : https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9421

[2016-06-29 11:42] #1190 closed

[2016-06-29 17:50] dakshshah96 commented on #1068
Under **Statements and declarations**, please check **block** (PR #1188) and **if...else** (PR #1189).

Cheers!

[2016-06-29 17:56] atjonathan commented on #1068
@dakshshah96, added!
Thanks for your contributions :tada:

[2016-06-30 18:14] dakshshah96 commented on #1068
Under **Statements and declarations**, please check **break** (PR #1194) and **return** (PR #1195).

Cheers!

[2016-06-30 19:19] raisedadead opened #1201 "Improve Translations Guide"
This refers to the older issue #565

New points to be addressed that were apparently missed while closing the older issue

- Add GIF for PR Creation
- Add Guidelines on Clear naming for PR Creation

Currently this is bit unclear in [this file](https://github.com/FreeCodeCamp/wiki/blob/master/Translation-Create-PR.md) and should be made more precise [like creating issues](https://github.com/FreeCod

[2016-07-01 14:19] dakshshah96 commented on #662
@alayek What prefix do you think should we use for all **Database** articles? Is this fine — `Database-Topic-Name.md`?

[2016-07-02 07:53] raisedadead opened #1205 "Chunky Monkey needs better solutions"
Referring https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9500

[2016-07-02 09:07] dakshshah96 commented on #1205
Working on it. Will open a PR soon. 👍

[2016-07-02 15:27] raisedadead opened #1208 "Slasher Intermediate explanation has incorrect statement regarding slice()"
Refers : https://github.com/FreeCodeCamp/FreeCodeCamp/issues/9501

by @wiseleo:

Someone apparently copied the explanation from splice.

Slice does not modify arrays.

The entire explanation is problematic:
- This solution uses the slice() function. **OK**
- The argument `howMany` is the number of elements to be ~~removed~~ **_skipped since beginning of array_** ~~starting with arr[0]~~.
- ~~Modif

[2016-07-02 19:28] alayek commented on #662
Yes, let's use that format for now.

[2016-07-02 19:40] alayek commented on #1048
@dakshshah96 done :+1:

[2016-07-02 19:47] Rafase282 opened #1211 "Wiki migration over to the forum"
# Objective:

We need to migrate our current wiki to the forum and try to do it right the first time.

## Important Notes:

We are using the `forum` branch for this chances, do not use master. Always make sure to make the PR against this branch, and to sync the branch before you make new changes.
If you need help figuring out where to put the article or if you feel a category is needed then let me

[2016-07-02 20:05] atjonathan commented on #1211
I am taking on all `CSS` and `Java` prefix articles :+1:

[2016-07-02 20:16] Rafase282 commented on #1211
@atjonathan unless you will do them all in one sit,I would prefer that you take on a group that you can finish before you have to do anything else. So for example you can do all the CSS, and once you finish then take on the Java ones if no one is working on those.

[2016-07-03 04:43] geligelu commented on #1211
Curious - why are you moving the wiki to the forum? Surely a forum is a forum? It will be awkward to read wiki articles on a forum.

[2016-07-03 04:47] geligelu opened #1217 "Add advanced solution to 'Pairwise' challenge solution"
#### Pairwise
https://www.freecodecamp.com/wiki/en/algorithm-pairwise/

#### This challenge is missing an 'advanced' solution
I believe that my solution for this challenge represents a suitably more 'advanced solution' for this challenge, including avoiding imperative for loops and using declarative statements using native array functions

I don't want to clone the whole wiki locally and make a pu

[2016-07-03 04:48] alayek commented on #1211
@geligelu one of the main reasons was that our Wiki was not getting enough traffic as compared to our main site, forum, chat rooms etc.

We work rigorously on the Wiki, and we would like to see some traffic.

Another reason was that people needed to learn Git and GitHub to be able to contribute to our Wiki. This was prohibiting our campers from contributing their knowledge to our Wiki. Forum based

[2016-07-03 04:49] alayek commented on #1217
Alright. Please raise a PR.

[2016-07-03 04:55] geligelu commented on #1211
@alayek - very reasonable rationale, agreed. One thing I would add:  I didn't know the wiki contained hints and solutions to the algorithms until I poked around in it, half way through the front-end course. Might also be a communication thing - at the start with all the orientation in addition to 'search, read, ask' add (that includes our wiki). Small, but might would direct people to wiki instead

[2016-07-03 04:57] alayek commented on #1211
@geligelu touche!

[2016-07-03 05:35] geligelu commented on #1217
Squash commit 25bed7feb5742774f3d7d0fb75e9d322f71f3062 - incorrect message.

[2016-07-03 17:35] #1217 closed

[2016-07-06 18:32] j7an commented on #662
Looking forward to the wiki. I'm interested in learning Oracle PL/SQL.

[2016-07-07 19:19] alfazick commented on #509
I want to take Control Flow topic?

[2016-07-07 19:22] alfazick commented on #509
Why in introduction we didn't implement idea of polymorphism I think this idea is one of the most important idea in Python?

[2016-07-07 19:29] alayek commented on #509
@alfazick it's not that we didn't include. Under Object-oriented concepts, `polymorphism` would come naturally in the discussion - along with `inheritance`, `encapsulation`, `abstraction`.

Please feel free to add an article on Polymorphism!

[2016-07-10 02:53] MyNameIsURL opened #1228 "Javascript - Escape Sequences in Strings - \n and \r not interchangeable"
This is the correct answer to the problem `var myStr = "FirstLine\n\\SecondLine\\\rThirdLine";` but this `var myStr = "FirstLine\r\\SecondLine\\\nThirdLine";` should work as well. It shouldn't matter if the newline is used first or the carriage return is used first as long as both are used according to the instructions. Should be a simple regex fix.

[2016-07-10 22:19] N0bl3 opened #1229 "Add JS best practices guide"
Hello,
don't you think it would be great to introduce a guide to best practices in JS so that even beginners get used to good formatting? This could bgo as far as adding an entry to the wiki and/or proving a linter configuration in the standard FCC generator for projects and/or integrating a tool like JSCS in the FCC text editor.
As an alternative we could regroup some ressources on the subject an

[2016-07-11 09:45] atjonathan commented on #1211
I will take on the Angular articles :+1:

[2016-07-14 01:44] syzor13 opened #1240 "Incorrect links on the start here page of FreeCodeCamp Wiki."
On the page https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Start-Here. The following links are redirecting to home page of the FreeCodeCamp Wiki instead. The hypertext links are "The Front End Development Certificate" and "The Full Stack Development Certificate"

[2016-07-14 05:02] chakrihacker commented on #1240
Those links are working properly just now checked it.

[2016-07-14 16:44] syzor13 commented on #1240
Still not working.

[2016-07-14 21:27] alfazick opened #1242 "control flow"
# Control Flow

You can consider any program as series of instructions.

But with control flow, the program can choose order of instructions to run.

It is a good idea to think about control flow as making decisions(flow control statements) with information that you have.

Due to the fact that Boolean has only two values:True and False. They come  handy to make decisions in instructions.

The Bool

[2016-07-14 21:29] alfazick commented on #509
#1241

[2016-07-15 03:52] chakrihacker commented on #1240
can you post some image or link where exactly the problem is

[2016-07-23 10:28] willnwhite commented on #367
The JS Closure example is a bad example. Why wouldn't you just `alert("Mozilla")`? The example is no more dynamic than that. Not that I can think of a better example off the top of my head, I'm just logging it.

[2016-07-23 20:24] syzor13 commented on #1240
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Free-Code-Camp-Front-End-Development-Certificate

and

https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Free-Code-Camp-Full-Stack-Development-Certificate

[2016-07-23 21:33] atjonathan commented on #1240
We have moved to the [forum](http://forum.freecodecamp.com) so just use
http://forum.freecodecamp.com/t/heres-how-to-earn-our-verified-front-end-development-certification/19512 and http://forum.freecodecamp.com/t/free-code-camp-full-stack-development-certification/19513.

[2016-07-23 21:33] #1240 closed

[2016-07-24 21:55] syzor13 commented on #1240
@atjonathan  Still not working on that page.

[2016-07-24 21:58] Rafase282 commented on #1240
The wiki is on the forum now so there should not be issues about github
wiki links not working.

On Sun, Jul 24, 2016, 5:55 PM Ikponmwosa Sam Osakue <
notifications@github.com> wrote:

--
Kind Regards,

Rafael Rodríguez
Junior Web Developer
https://rafase282.github.io/

[2016-07-24 22:01] syzor13 commented on #1240
I understand but when you go to the page https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Start-Here and click on the The Front End Development Certificate and
The Full Stack Development Certificate link it takes you to
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki , not http://forum.freecodecamp.com/t/heres-how-to-earn-our-verified-front-end-development-certification/19512 and http://forum.f

[2016-07-24 22:09] Rafase282 commented on #1240
That means do't go to https://github.com/FreeCodeCamp/FreeCodeCamp/wiki at all. That is from the old wiki which was moved to the forum.

[2016-07-24 22:29] syzor13 commented on #1240
Oh thanks.

[2016-07-25 16:38] IsaacAbrahamson opened #1245 "Algorithm Missing Letters conflict"
Algorithm Missing letters Wiki Page
https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Algorithm-Missing-Letters

Wiki page states that

and later

However, the actual challenge states:

and

The problem is that the challenge requires you to return the missing letter, but according to the wiki page, you are to add the missing letter to the word and then return the word from what I understood. Somew

[2016-07-25 17:03] IsaacAbrahamson commented on #1211
Do you have to be staff to help, or can anyone copy-paste the wiki pages to the forums and commit?

[2016-07-25 17:30] Rafase282 commented on #1211
The pages were already moved.

On Mon, Jul 25, 2016, 1:03 PM Isaac Abrahamson <notifications@github.com>
wrote:

--
Kind Regards,

Rafael Rodríguez
Junior Web Developer
https://rafase282.github.io/

[2016-07-28 19:11] kaibacorp commented on #1245
I found the problem explanation and Hint 3 confusing as well, since there is no insertion or adding of letters occurring. The wording could perhaps be changed to:

and for Hint 3

Although I'm not certain if the first part of Hint 3 is very helpful.

[2016-08-02 15:55] IsaacAbrahamson commented on #1245
I edited the wiki post on forums
http://forum.freecodecamp.com/t/algorithm-missing-letters/16023

[2016-08-02 15:55] #1245 closed

[2016-08-06 21:39] carlosvigil commented on #1211
I see the pages were moved, will this wiki and issue be updated relaying that information?

[2016-08-06 21:47] Rafase282 commented on #1211
All the pages have been moved and mentioned before. This means for those wanting to contribute to the wiki, you will have to edit or create articles on the forum. When creating them, make sure to mark them as wiki articles.

[2016-08-06 21:47] #1211 closed

[2016-08-06 21:49] Rafase282 commented on #1205
The solution has been updated [here](http://forum.freecodecamp.com/t/algorithm-chunky-monkey/16005).

[2016-08-06 21:49] #1205 closed

[2016-08-06 21:51] Rafase282 commented on #1242
Please check the forum for wiki articles and make sure there isno previous article then you can add the information there.

[2016-08-06 21:51] #1242 closed

[2016-08-06 21:55] Rafase282 commented on #1229
Best practices could be opinionated but we have some resources available [here](http://forum.freecodecamp.com/t/javascript-tutorials-and-other-resources/14691) that are on the wiki already.

If you want to add more feel free to create or expand on the existing article.

[2016-08-06 21:55] #1229 closed

[2016-08-06 21:58] Rafase282 commented on #1208
The changed can be done here http://forum.freecodecamp.com/t/algorithm-slasher-flick/16047

[2016-08-06 21:59] Rafase282 commented on #1228
You are on the wrong repo, it should be the main repo not the wiki one, also the instructions are to encode a specific sequence.

[2016-08-06 21:59] #1228 closed

[2016-08-06 22:01] Rafase282 commented on #1191
The current advance code passes the test. http://forum.freecodecamp.com/t/algorithm-wherefore-art-thou/16092

[2016-08-06 22:01] #1191 closed

[2016-08-06 22:03] Rafase282 commented on #364
I'm closing this as we have migrated and the issues will not be the same.

[2016-08-06 22:03] #364 closed

[2016-08-06 22:05] Rafase282 commented on #1016
The wiki has been moved to the forum now.

[2016-08-06 22:05] #1016 closed

[2016-08-06 22:05] Rafase282 commented on #898
This was a good idea and next on the list but we have migrated the wiki to the forum now. Thank you for your suggestion.

[2016-08-06 22:05] #898 closed

[2016-08-06 22:07] Rafase282 commented on #1050
I'm closing due to the migration.

[2016-08-06 22:07] #1050 closed

[2016-08-06 22:08] Rafase282 commented on #1096
The page was not moved to the wiki at the forum, feel free to create a new one.

[2016-08-06 22:08] #1096 closed

[2016-08-06 22:14] Rafase282 opened #1248 "To Do for the new Wiki"
There are a couple of things that I think would help the experience with the wiki.

1. Make it so wiki articles are automatically owned by CamperBot as discussed before.
  * This also should make it watch the article to get the notifications so anyone can see them.
2. Make current wiki articles conform with the previous point.
3. Write a series of guides on how to navigate the wiki in the forum:

[2016-08-06 22:54] Rafase282 commented on #1201
This should be moved to https://github.com/FreeCodeCamp/TranslationExpansion

[2016-08-06 22:54] #1201 closed

[2016-08-13 17:56] atjonathan opened #1250 "test issue which should be closed"

[2016-08-13 17:56] #1250 closed

[2016-08-13 17:59] Rafase282 commented on #1250
Just so you know, I'm slowly moving the wiki to its own category so we could lino directly to it on the bit.

[2016-08-13 18:15] atjonathan commented on #1250
@Rafase282, once that's ready, let me know or make a pull request with the change :smiley:

[2016-08-13 18:25] Rafase282 commented on #1250
There are a handful already on the wiki category. I'm not too kind on keep
moving 800+ articles manually, so I'll be checking on plugin dev to
automate as much as possible without breaking updates

On Sat, Aug 13, 2016, 2:15 PM Jonathan <notifications@github.com> wrote:

--
Kind Regards,

Rafael Rodríguez
Junior Web Developer
https://rafase282.github.io/

[2016-08-21 04:58] ilogin commented on #1048
Please assign Searching - Naive Search to me.

[2016-08-21 04:59] ilogin commented on #1044
Please assign Trees - Binary Search Trees to me.

[2016-08-25 09:49] #1067 closed

[2016-08-28 12:16] atjonathan opened #1262 "var-ci doesn't automatically close pull requests"

[2016-08-28 12:32] #1262 closed

[2016-08-28 12:33] atjonathan opened #1264 "This issue shouldn't be closed."

[2016-08-28 12:33] #1264 closed

[2016-09-05 06:43] divyanshu013 opened #1268 "Update description"
The description gives the link: http://www.freecodecamp.com/wiki which I'm unable to access. Should it be updated? Please correct me if I'm wrong.

[2016-09-05 06:43] #1268 closed, assigned to nobody

[2016-10-05 19:20] tomhag opened #1272 "FreeCodeCamp Wiki: Link not working (Front-End Development Certificate)"
This link does not work.

https://github.com/FreeCodeCamp/FreeCodeCamp/wiki/Free-Code-Camp-Front-End-Development-Certificate

[2016-10-05 19:20] #1272 closed, assigned to VarCI-bot

[2016-12-22 16:24] spences10 commented on #685
~~I was using c9 as my development environments for node and ruby and I have explained some of it in a post I made and am more than happy to share that, installing Git and cloning a repo is one of the first things you should do, then there's setting up a run configuration. @SeanFCC whats going on??~~

Apologies, just realised this is all depreciated!

[2017-01-11 12:08] ashwamegh commented on #819
Hi @alayek,

I would like to start contributing to this, please guide me.

[2017-01-11 13:38] ashwamegh commented on #819
Hey @alayek,
Why my Pull request #1280 automatically got closed without any review.

[2017-01-11 14:10] meetmangukiya commented on #819
AFAIK the wiki is deprecated

[2017-03-14 11:27] anirudherabelly commented on #1048
I will write on Greedy algorithms. If you wish to! @alayek

[2017-03-20 09:55] Aeris777 commented on #667
Hi, I am a new contributor. Would it be okay if I write one of these articles? I studied Project Management last year.

[2017-03-20 12:50] Rafase282 commented on #667
Yes that would be fine. The have to be on the wiki located at the forum.

[2018-05-03 19:28] shailu0827 commented on #534
I can write up articles for abstract classes and collections topics, please let me know the guidelines or provide a link where the guidelines are?